<!DOCTYPE html>
<html lang="en">
<head>
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
    crossorigin="anonymous">
    <link rel="stylesheet" href="/css/industrialTraining.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NIKS TECHNOLOGY- INDUSTRIAL TRAINING</title>
</head>
<body>
    <div class="container-fluid">
        <div class="wrapper">
            <div class="row">
                  <div class="col-md-6 col-offset-2 img">
                    
                </div>
                <div class="col-md-6 col-offset-2 left">
                   <div class="box">
                       <h3>
                           INDUSTRIAL TRAINING
                       </h3>
                       <h4>"YOUR FUTURE IS CREATED BY WHAT YOU DO TODAY LET'S SHAPE IT WITH "NIKS TECHNOLOGY" 
                           INDUSTRIAL TRAINING PROGRAM "</h4>
                           <p>The programme provides hands-on work experience from day one, providing students
                                the opportunity to work directly with inspiring and experienced professionals.
                                 The insights and skills gained by the end of the programme would be invaluable 
                                 for future careers.</p>
                   </div>
                </div>
              
            </div>
            <div class="content">
                <h4>This Industrial Training Programme Is Designed For Students To:</h4>
                <hr id="hr" class="mx-auto w-75 text"  style="height:2px;background: #ff9068;;color:#ff9068;;border:none;text-shadow:2px 2px 5px rgba(210, 56, 56, 1.0);"/>
                <div class="text-el">
                    * Put theories and concepts into practice.<br/>
                    * Build work related skills required for the business environment through constructive feedback and supervision.<br/>
                    * Improve their general business/industry understanding.<br/>
                    * Gain additional skills in areas such as communication, team building, problem solving and analytical reasoning.<br/>
                    * Build valuable networks and contacts for professional development.<br/>
                    * Gain insights into career options to support choice of specialised field area.
                </div>
                <p>Niks Technology Application development Company offers a range of services from outsourced 
                    application development and managed services to professional services that are enabled by
                     experience, knowledge, proven methodologies, global talent and innovation. Niks Software 
                     Technology delivers products and solutions with increased levels of service and improved 
                     quality of outputs. We Offer IT Services , IT Security Services and Training On Ethical 
                     Hacking / Embedd System & robotics / Software Development / Networkin & Comunication</p>
                     <p>Niks Technology commitment to Quality policy reflects our vision, Quality services,
                        technological expertise, and our assurance towards designing and developing Quality
                        IT Solutions which can quickly adapt to the changes and enhancements in technical
                        environment. Our triad components of philosophy: People, Process and Technology
                        influence quality of system and enable to improve services provided and quality
                        assured of the product delivered at organizational level. Hence we constantly
                        focus on verticals of triad and maintain equilibrium between them.</p>
            </div>
        </div>
    </div>
</body>
</html>