<!DOCTYPE html>
<html lang="en">
<head>
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
    crossorigin="anonymous">
    <link rel="stylesheet" href="/css/job.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NIKS TECHNOLOGY - JOB ORIENTED TRAINING</title>
</head>
<body>
    <div class="container-fluid">
        <div class="wrapper">
            <div class="wrap">
                <div class="info">
                    <h2>JOB ORIENTED TRAINING</h2>
                    <p>"YOUR FUTURE IS CREATED BY WHAT YOU DO TODAY LET'S SHAPE IT WITH "NIKS TECHNOLOGY" JOB ORIENTED TRAINING PROGRAM "</p>
                </div>
            </div>
            <div class="content">
                <div class="box">
                    <div class="row">
                         <div class="col-md-6 col-offset-2 right">
                        <h4>Program Objectives</h4>
                         <hr id="hr" class="mx-auto w-75 text"  style="height:2px;background: #ff9068;;color:#ff9068;;border:none;text-shadow:2px 2px 5px rgba(210, 56, 56, 1.0);"/>
                        <div class="text-el">
                            * To become a Software Professional<br/>
                                * To provide insight into real world scenarios as Fresher in IT Industry<br/>
                                * To provide students with indispensable knowledge and skills to enable them to pursue career<br/>
                                * To provide skill based professional training for career advancement<br/>
                                * To provide guidance for ‘How to crack interview’, Do’s and Don’ts of an Interview
                        </div>
                        <h4 class="lower">NIKS TECHNOLOGY Advantages:-</h4>
                         <hr id="hr" class="mx-auto w-75 text"  style="height:2px;background: #ff9068;;color:#ff9068;;border:none;text-shadow:2px 2px 5px rgba(210, 56, 56, 1.0);"/>
                        <div class="text-el">
                             * Student oriented program<br/>
                                * Trainers from the best industry with rigorous understanding of domain and technology<br/>
                                * Lecture contents prepared by Industry expert<br/>
                                * Practical approach to work on with industry standards.<br/>
                                * Daily 3-4 hours Rigorous Training Program<br/>
                                * Workshops from industry experts<br/>
                        </div>
                    </div>
                    <div class="col-md-6 col-offset-2 left">
                        <p>In current situation there is a huge demand for skilled resources in the industry. This
                             situation has created a major challenge in term of job opportunities and placements 
                             for the graduate and post-graduate candidates who will be completing their degree this
                              year. We spare no efforts to groom our candidates and equipping them with all
                               qualities to make them an asset to whichever organization they work. Our major
                                trust is on providing hands on experience on the chosen technology through 
                                practical assignments. Unlike a traditional Training program our Job Oriented
                                 Program goes beyond just training. We make our student go through the gruelling
                                  project management processes, exposes them to designing the project based on
                                   client requirement and focus on strong technical skills, Aptitude Skills,
                                    Soft Skills, and Business Skills which helps in developing professional
                                     image as an effective communication tool.</p>
                                     <p>
                                         Hence, Come and join Niks Technology, and get access to its enhanced power 
                                         packed courses in 50+ high end technologies that is surely going to exceed
                                          your expectations. Hence enroll for the winter training and be prepared
                                           for the exciting journey with us.
                                     </p>
                    </div>
                   
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>