<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="/css/summerTraining.css">
    <!-- <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
    crossorigin="anonymous">-->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NIKS Training-Summer Training</title>
</head>
<body>
    <section>
        <div class="container-c">
            <div class="heading">
                <h2>SUMMER TRAINING IN PATNA</h2>
                <p>"YOUR FUTURE IS CREATED BY WHAT YOU DO TODAY LET'S SHAPE IT WITH Niks Technology SUMMER TRAINING PROGRAM ……… ."</p>
            </div>
          <!-- <div class="content">
                <div class="row">
                    
                    <div class="col">
                        <hr/>
                <p>With a new innovative approach, Niks Technology presents an exciting opportunity this winter for all the students
                     to savour the delights of Placements, Industrial Exposure and Quality Training. This winter, gather your energy
                      and vitality to undergo valuable and rigorous winter training in over 50+ technologies from Niks Technology.</p>
                <p>Its high time for candidates to decide aptly for short revision sessions, being placement drives knocking each campus.
                     Our WINTER Training Programs caters the dual need of revisions for placements and major projects as well. The recent
                      hiring trends of companies reveals that self-made major project, Industrial training and clarity of concepts are
                       preferred the most. In this winter session of 2019-20, students can experience the entirely new and innovative 
                       teaching methodologies with certifications from MICROSOFT, ORACLE, AUTODESK, PANASONIC and NUVOTON so that they
                        can develop the “Spark to Shine in the Technical World”.</p>
                        </div>
                        <div class="col">
                        <img src="/img/winterPic.jpg">
                    </div>
                        </div>
            </div>-->
            <div class="content-1">
                <div class="heading-content">
                    <h2>Our <span>Services</span></h2>
<hr  style="height: 0.1em;px;background: #ff9068;border:none;"/>
                    </div>
                 <div class="container">
        <div class="card">
            <div class="imgBx">
                <img src="/img/android.jpg" />
            </div>
            <div class="content">
                <h2>App Development</h2>
                <p>With the upsurge of Android phones and tablets, Android apps development is undeniably the most
                     popular mobile operating system.</p>
            </div>
        </div>
        <div class="card">
            <div class="imgBx">
                <img src="/img/web.jpg" />
            </div>
            <div class="content">
                <h2>Web Development</h2>
                <p>Website development is basically optimal for publicizing a company, a website should have a 
                    proper content on it so that a reader could know about the company.</p>
            </div>
        </div>
        <div class="card">
            <div class="imgBx">
                <img src="/img/cS.jpg" />
            </div>
            <div class="content">
                <h2>Cyber Security</h2>
                <p>Cyber security systems and principles are designed to safeguard websites and web applications from attackers seeking to disrupt,
                     delay, alter or redirect the flow of data.</p>
            </div>
        </div>
    </div>

                <p class="p1">
                   With ever changing technologies & methodologies, the competition today is much greater than ever
                    before. The industrial scenario needs constant technical enhancements to cater to the rapid 
                    demands. If you are an engineering student or pursuing graduate/post-graduate level IT degree
                     then you may have already heard the term "Summer Training". These trainings are important
                      because it is the best way to acquire and clear your concepts about your respective fields.
                </p>
                <p class="p2">
                   Niks Technology the largest IT company in the world, through its partner offers high quality
                    Courses for 4 & 6 weeks. Few Courses in Summer Training Program are Programming Techniques
                     using 'C', PHP, VLSI, VHDL & PCB Design, Data Structure using C Language, Core Java,
                      J2EE - Hibernate with Spring Framework, J2EE - Struts with Hibernate Framework, Android,
                       ASP.NET With C#, Embedded & Robotics-Basics & Advanced, ARM, Linux Administration with 
                       Scripting, Networking concepts with security.
                </p>
            </div>
            <div class="content-2">
                <div class="box">
                <p>
                        All students undergoing B.Tech /B.E / MCA, M.Sc. IT, B.Sc.IT,BCA, PGDCA.
                </p>
                <p>
                   Passout students can also apply.
                </p>
                <p>
                    Students in 6th semester year can undergo this program to do Industrial Training, as a 
                    mandatory part of their curriculum. Professionals.
                </p>
                <p>
                   The training is conducted in the months of May, June & July at a number of venues. 
                   This assists the students to make an easy & convenient choice vis-à-vis there concern of 
                   their enrollment from their desired location. Our approach is based on best practices & a
                    combination of processes tailored to fit the specific needs. If you are looking for quality
                     training then you must visit one of our venues to feel the difference between Rote and 
                     Conceptual Training. Feel free to visit our venues and interact with our mentors.




                </p>
                </div>
            </div>
        </div>
    </section>
</body>
</html>