<!DOCTYPE html>
<html lang="en">
<head>
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
    crossorigin="anonymous">
    <link rel="stylesheet" href="/css/courses.css">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <!-- <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css"> -->
    <link rel="stylesheet" href="/css/style.css" >
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NIKS TECHNOLOGY - COURSES OFFERED</title>
</head>
<body>
    {{>nav}}
    <div class="container-fluid">
        <div class="wrapper">
            <div class="wrap"></div>
                <div class="info">
                    <h3>COURSES OFFERED AT NIKS TECHNOLOGY</h3>
                    <h4>OUR FEATURE SERVICE</h4>
                    <h4>SUMMER / WINTER INDUSTRIAL TRAINING AND INTERNSHIP PROGRAM AT NIKS TECHNOLOGY</h4>

            </div>
           <div class="content">
               <div class="row">
                   <div class="col-lg-3 col-md-4 col-sm-6 col-offset-2">
                       <div class="box">
                       <div class="img-1"></div>
                           <h5>C C++ PROGRAMING</h5>
                           <a href="/courses/CandCpp">View Details</a>
                       
                       </div>
                   </div>

                    <div class="col-lg-3 col-md-4 col-sm-6 col-offset-2">
                        <div class="box">
                       <div class="img-2"></div>
                           <h5>JAVA</h5>
                           <a href="/courses/java">View Details</a>
                      
                       </div>
                   </div>
                   <div class="col-lg-3 col-md-4 col-sm-6 col-offset-2">
                       <div class="box">
                       <div class="img-3"> </div>
                           <h5>ETHICAL HACKING</h5>
                           <a href="/courses/ethicalHacking">View Details</a>
                      
                       </div>
                   </div>
                   <div class="col-lg-3 col-md-4 col-sm-6 col-offset-2">
                       <div class="box">
                       <div class="img-4">
                           
                       </div>
                       <h5>ANDROID APPS</h5>
                           <a href="/courses/android">View Details</a>
                       </div>
                   </div>
                   <div class="col-lg-3 col-md-4 col-sm-6 col-offset-2">
                       <div class="box">
                       <div class="img-5">
                          
                       </div>
                        <h5>PHP & MYSQL</h5>
                           <a href="/courses/PHPandMYSQL">View Details</a>
                       </div>
                   </div>
                   <div class="col-lg-3 col-md-4 col-sm-6 col-offset-2">
                       <div class="box">
                       <div class="img-6">
                          
                       </div>
                        <h5>WEB DEVELOPMENT</h5>
                           <a href="/courses/webDevelopment">View Details</a>
                       </div>
                   </div>
                   <div class="col-lg-3 col-md-4 col-sm-6 col-offset-2">
                       <div class="box">
                       <div class="img-7">
                          
                       </div>
                        <h5>SOFTWARE DEVELOPMENT</h5>
                           <a href="/courses/softwareDevelopment">View Details</a>
                       </div>
                   </div>
                   <div class="col-lg-3 col-md-4 col-sm-6 col-offset-2">
                       <div class="box">
                       <div class="img-8">
                          
                       </div>
                        <h5>.NET</h5>
                           <a href="/courses/dotNet">View Details</a>
                       </div>
                   </div>
                   <div class="col-lg-3 col-md-4 col-sm-6 col-offset-2">
                       <div class="box">
                       <div class="img-9">
                          
                       </div>
                        <h5>ROBOTICS</h5>
                           <a href="/courses/robotics">View Details</a>
                       </div>
                   </div>
                   <div class="col-lg-3 col-md-4 col-sm-6 col-offset-2">
                       <div class="box">
                       <div class="img-10">
                           
                       </div>
                       <h5>NETWORKING</h5>
                           <a href="/courses/networking">View Details</a>
                       </div>
                   </div>
                   <div class="col-lg-3 col-md-4 col-sm-6 col-offset-2">
                       <div class="box">
                       <div class="img-11">
                          
                       </div>
                        <h5>LINUX</h5>
                           <a href="/courses/linux">View Details</a>
                       </div>
                   </div>
                   <div class="col-lg-3 col-md-4 col-sm-6 col-offset-2">
                       <div class="box">
                       <div class="img-12">
                          
                       </div>
                        <h5>EMBEDDED SYSTEM</h5>
                           <a href="/courses/embeddedSystem">View Details</a>
                       </div>
                   </div>
                   <div class="col-lg-3 col-md-4 col-sm-6 col-offset-2">
                       <div class="box">
                       <div class="img-13">
                           
                       </div>
                       <h5>PLC SCADA</h5>
                           <a href="/courses/plc">View Details</a>
                       </div>
                   </div>
                   <div class="col-lg-3 col-md-4 col-sm-6 col-offset-2">
                       <div class="box">
                       <div class="img-14">
                          
                       </div>
                        <h5>PYTHON</h5>
                           <a href="/courses/python">View Details</a>
                       </div>
                   </div>
                   <div class="col-lg-3 col-md-4 col-sm-6 col-offset-2">
                       <div class="box">
                       <div class="img-15">
                           
                       </div>
                       <h5>LINUX SHELL SCRIPT</h5>
                           <a href="/courses/linuxShell">View Details</a>
                       </div>
                   </div>
                   <div class="col-lg-3 col-md-4 col-sm-6 col-offset-2">
                       <div class="box">
                       <div class="img-16">
                         
                       </div>
                         <h5>DIGITAL MARKETING</h5>
                           <a href="/courses/digitalMarketing">View Details</a>
                       </div>
                   </div>
                   <div class="col-lg-3 col-md-4 col-sm-6 col-offset-2">
                       <div class="box">
                       <div class="img-17">
                           </div>
                           
                           <h5>INTERNET OF THINGS(IOT)</h5>
                           <a href="/courses/iot">View Details</a>
                       </div>
                   </div>
                   <div class="col-lg-3 col-md-4 col-sm-6 col-offset-2">
                       <div class="box">
                       <div class="img-18">
                            </div>
                           <h5>SOFTWARE TESTING</h5>
                           <a href="/courses/softwareTesting">View Details</a>
                          
                       </div>
                   </div>
                   <div class="col-lg-3 col-md-4 col-sm-6 col-offset-2">
                       <div class="box">
                       <div class="img-19">
                            </div>
                           <h5>DCA</h5>
                           <a href="/courses/dca">View Details</a>
                          
                       </div>
                   </div>
                   <div class="col-lg-3 col-md-4 col-sm-6 col-offset-2">
                       <div class="box">
                       <div class="img-20">
                             </div>
                           <h5>ADCA</h5>
                           <a href="/courses/adca">View Details</a>
                         
                       </div>
                   </div>
                   <div class="col-lg-3 col-md-4 col-sm-6 col-offset-2">
                       <div class="box">
                       <div class="img-21">
                            </div>
                           <h5>AI</h5>
                           <a href="/signup">Register Here</a>
                          
                       </div>
                   </div>
                   <div class="col-lg-3 col-md-4 col-sm-6 col-offset-2">
                       <div class="box">
                       <div class="img-22">
                            </div>
                           <h5>AJAX</h5>
                           <a href="/signup">Register Here</a>
                          
                       </div>
                   </div>
                   <div class="col-lg-3 col-md-4 col-sm-6 col-offset-2">
                       <div class="box">
                       <div class="img-23">
                             </div>
                           <h5>ANGULAR</h5>
                           <a href="/signup">Register Here</a>
                         
                       </div>
                   </div>
                   <div class="col-lg-3 col-md-4 col-sm-6 col-offset-2">
                       <div class="box">
                       <div class="img-24">
                             </div>
                           <h5>CYBER SECURITY</h5>
                           <a href="/signup">Register Here</a>
                         
                       </div>
                   </div>
                   <div class="col-lg-3 col-md-4 col-sm-6 col-offset-2">
                       <div class="box">
                       <div class="img-25">
                            </div>
                           <h5>LISP</h5>
                           <a href="/signup">Register Here</a>
                          
                       </div>
                   </div>
                   <div class="col-lg-3 col-md-4 col-sm-6 col-offset-2">
                       <div class="box">
                       <div class="img-26">
                             </div>
                           <h5>MATLAB</h5>
                           <a href="/signup">Register Here</a>
                         
                       </div>
                   </div>
                   <div class="col-lg-3 col-md-4 col-sm-6 col-offset-2">
                       <div class="box">
                       <div class="img-27">
                             </div>
                           <h5>PERL</h5>
                           <a href="/signup">Register Here</a>
                         
                       </div>
                   </div>
                   <div class="col-lg-3 col-md-4 col-sm-6 col-offset-2">
                       <div class="box">
                       <div class="img-28">
                             </div>
                           <h5>R</h5>
                           <a href="/signup">Register Here</a>
                         
                       </div>
                   </div>
                   <div class="col-lg-3 col-md-4 col-sm-6 col-offset-2">
                       <div class="box">
                       <div class="img-29">
                            </div>
                           <h5>VLSI</h5>
                           <a href="/signup">Register Here</a>
                          
                       </div>
                   </div>












               </div>
           </div>
        </div>
    </div>
    {{>footer}}
</body>
</html>