<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/enquiry.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NIKS-Enquiry</title>
</head>
<body>
     <section>
         <div class="container">
             <h2>Enquiry Form</h2>
         
         <form>
         <div class="row">
             <div class="col">
                 <div class="inputBox">
                     <input type="text" name="" required="required"/>
                     <span class="text" >Your Name</span>
                     <span class="line"></span>
                 </div>
             </div>

            <div class="col">
                 <div class="inputBox">
                     <input type="text" name="" required="required"/>
                     <span class="text" >Email</span>
                     <span class="line"></span>
                 </div>
             </div>
         </div>

         <div class="row">
             <div class="col">
                 <div class="inputBox">
                     <input type="text" name="" required="required"/>
                     <span class="text" >Mobile Number</span>
                     <span class="line"></span>
                 </div>
             </div>

            <div class="col">
                 <div class="inputBox">
                     <input type="text" name="" required="required"/>
                     <span class="text" >Subject/Services</span>
                     <span class="line"></span>
                 </div>
             </div>
         </div>

         <div class="row">
            
            <div class="col">
                 <div class="inputBox question">
                     <textarea required="required"/></textarea>
                     <span class="text" >Your Enquiry</span>
                     <span class="line"></span>
                 </div>
             </div>
         </div>

        <div class="row">
            
            <div class="col">
                 <input type="submit" value="Submit"/>
             </div>
         </div>
</form>

     </section>

</div>
</body>
</html>