<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
    crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <!-- <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css"> -->
    <link rel="stylesheet" href="/css/style.css" >
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
    crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
    crossorigin="anonymous">
    
     <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NIKS-Home Page</title>
</head>
<body>
          {{>header}}
   
    <div class="contanier-fluid">
        <div class="wrapper">
           
            <div class="wrap">
                <div id="slider">
		<figure>
			<img src="img/class.jpg" alt="">
			<img src="img/security.png" alt="">
			<img src="img/phishing.jpg" alt="">
			<img src="img/franchise.jpg" alt="">
			<img src="img/class.jpg" alt="">
		</figure>
	</div>

     <h4>Best Digital Marketing Services Company in Patna, India</h4>
     <h2>Result-Oriented Data-Driven, Affordable - SEO, SMM, PPC Services</h2>
     <hr id="hr" class="mx-auto w-50 text"  style="height:4px;background: #ff9068;;color:#ff9068;;border:none;text-shadow:2px 2px 5px rgba(210, 56, 56, 1.0);"/>
                 <div class="box">
                     <p>
                         Welcome to Digital Markitors, a leading digital marketing company in Patna. We utilize
                          our digital marketing experience and world-class knowledge to help businesses reach 
                          their full online potential and ensure a steady growth. For this, there is a team of
                           highly dedicated and 'self-confessed' digital marketing geeks. And YES, we are crazy
                            about everything that is 'DIGITAL'. In simple terms, we live DIGITAL and we breathe
                             DIGITAL. We promise clients, a vision to stay ahead while assuring them market growth.
                              Our definite goal-oriented approach enables us to generate genuine leads. In the'
                               larger part of the story, we optimize conversion and increase the search-visibility
                                of clients.
                     </p>
                     <p>
                         Our transparent and reliable digital marketing services speak for itself. With our 
                         passionate, personal, and customized services, we will help you no matter how small
                          or big your business is! Here, at Digital Markitors, we NEVER follow the “ONE SIZE 
                          FITS ALL’ approach when it comes to digital marketing, SEO, SMO, PPC, content, 
                          website designing, development, etc. Our team keeps them update with the latest trends
                           to create innovative and out-of-the-box solutions to drive desired results for your 
                           business.
                     </p>
                     <p>
                         Perhaps, these are the top reasons why we can create a huge difference to many of our
                          clients who have had come to us with long-term as well as short-term goals in mind. 
                          Our uniquely designed digital marketing process cement a never-ending business 
                          partnership with our domestic and international clients. Digital Markitors has
                           become the leading Digital Marketing Company in Patna by fulfilling the client
                            objective consistently. Our 360° digital marketing approach effectively builds 
                            substantial and sustainable solutions for clients. If you are looking for a DIGITAL
                             partner to achieve your dreams on a serious note, then what are you waiting for!!
                              Just give us a call or email your queries to us. We are always here to help you
                               grow immensely.
                     </p>
                 </div>
                 <h4>Our Specialized Digital Marketing Services in Patna</h4>
                 <p style="text-align:center;" class="p1">We can be your reliable 'DIGITAL' marketing services partner. Being a pioneer of the market,
                      we have been closely working with our clients since our inception. Our exceptional digital
                       strategies have helped many businesses reaching out to their targeted audience across 
                       verticals and geographies.</p>
                <div class="box-1">
                    <div class="row">
                        <div class="col-sm-4 col-offset-2">
                            <div class="box-2">
                                <img src="img/searchE.png" alt="">
                                <h5>Search Engine Optimization (SEO)</h5>
                                <p>
                                    Enhance your online presence and divert more yet relevant traffic to your
                                     business website with our customized SEO strategies and services.
                                </p>
                            </div>
                        </div>
                        <div class="col-sm-4 col-offset-2">
                            <div class="box-2">
                                <img src="img/sm.png" alt="">
                                <h5>Social Media Marketing (SMM)</h5>
                                <p>Engage your targeted audience more creatively and spread your brand 
                                    awareness by opting for our effective social media marketing services</p>
                            </div>
                        </div>
                        <div class="col-sm-4 col-offset-2">
                            <div class="box-2">
                                <img src="img/ppc.png" alt="">
                                <h5>
                                    Pay-Per-Click (PPC)
                                </h5>
                                <p>
                                    Significantly increase your revenue and grow your business with our
                                     expertly designed and result-oriented PPC campaigns
                                </p>
                            </div>
                        </div>
                        <div class="col-sm-4 col-offset-2">
                           
                            <div class="box-2">
                                 <img src="img/da.png" alt="">
                                <h5>Display Advertising</h5>
                                <p>Grab the attention of maximum eyeballs online by displaying your brand
                                     in the right place. Avail our display advertising services to have your
                                      brand presence everywhere</p>
                            </div>
                        </div>
                        <div class="col-sm-4 col-offset-2">
                            <div class="box-2">
                                <img src="img/orm.png" alt="">
                                <h5>
                                    Online Reputation Management (ORM)
                                </h5>
                                <p>
                                    Get full control and authority of getting what the online results will
                                     be through our online reputation management services and reap the maximum
                                      benefits
                                </p>
                            </div>
                        </div>
                        <div class="col-sm-4 col-offset-2">
                            <div class="box-2">
                                <img src="img/cm.png" alt="">
                                <h5>Content Marketing</h5>
                                <p>Get the content that defines your business, tells the world who you are, 
                                    and what you stand for with our impressive content marketing services</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content">
                    <h4>How We Work</h4>
                 <hr id="hr" class="mx-auto w-50 text"  style="height:4px;background: #ff9068;;color:#ff9068;;border:none;text-shadow:2px 2px 5px rgba(210, 56, 56, 1.0);"/>
       
                <p class="p1" style="text-align:center">We are the top digital marketing company in India offering our clients 360-degree and
                    affordable digital solutions. Since our inception, we have carved a niche as a well-known 
                     and reliable company with our ‘out-of-the-box’ approach and immense market experience. We 
                     utilize all these elements to help a business transforms into a renowned brand brick-by-brick.
                      With a focused work approach, we help our valuable clients solve even the most complex
                    business problems with great ease.</p>

                <div class="row row1">
                    <div class="col-lg-3 col-md-6 col-sm-12 col-offset-2">
                        <div class="boxc">
                            <h5>
                                Analyze Project
                            </h5>
                            <p>
                                First and foremost, we assess your project, its current stage,
                                 competitors, and future goals.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12 col-offset-2">
                        <div class="boxc">
                            <h5>
                                Find Out-of-the-Box Ideas
                            </h5>
                            <p>
                               Next, we prepare digital marketing ideas that can help you reach your full 
                               potential. 
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12 col-offset-2">
                        <div class="boxc">
                            <h5>
                                Start Optimization
                            </h5>
                            <p>
                                Afterwards, we start implementing the ideas or plans created to optimize your 
                                business website
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-12 col-offset-2">
                        <div class="boxc">
                            <h5>
                                Reach Target
                            </h5>
                            <p>
                              We cover every possible aspect of digital marketing to reach our target which is – 
                              setting you up on the NUMBER #1 spot.  
                            </p>
                        </div>
                    </div>
                </div>
                </div>
                <div class="content-2">
                    <h4>How Can We Help You Grow</h4>
                     <hr id="hr" class="mx-auto w-50 text"  style="height:4px;background: #ff9068;;color:#ff9068;;border:none;text-shadow:2px 2px 5px rgba(210, 56, 56, 1.0);"/>
       
                    <p class="p1" style="text-align:center;">
                        Since we Live ‘Digital’, Think ‘Digital’, Breathe ‘Digital’, and Understand ‘Digital’,
                         each of our digital marketing solution is designed around a few yet important key
                          elements or we better call them ‘building blocks’ for the digital business plan 
                          of our clients. We evaluate things and customize our solutions keeping your business
                           goals, the current stage of the digital presence, and competitive landscape in mind.
                            With our creative and result-oriented solutions, we ensure that you will:
                    </p>
                    <div class="box-c2">
                        <div class="row">
                            <div class="col-lg-3 col-md-4 col-sm-6">
                                 <div class="box-im">
                                <img class="im" src="img/leads.jpg" alt="">
                                <p class="p2">Get More Leads</p>
                            </div>
                            </div>
                            <div class="col-lg-3 col-md-4 col-sm-6" >
                                <div  class="box-im">
                                <img class="im" src="img/sales.jpg" alt="">
                                <p class="p2">Make More Sales</p>
                            </div>
                            </div>
                           <div class="col-lg-3 col-md-4 col-sm-6" >
                                <div  class="box-im">
                                <img class="im" src="img/aware.jpg" alt="">
                                <p class="p2">Build Brand Awareness</p>
                            </div>
                           </div>
                            <div class="col-lg-3 col-md-4 col-sm-6">
                                 <div   class="box-im">
                                <img class="im" src="img/boost.jpg" alt="">
                                <p class="p2">Upskill Your Team</p>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="content-3">
                    <div class="box-c3">
                        <h4 style="color:rgb(138, 33, 7);">Why Niks Technology is the best Digital Marketing Company for your business</h4>
                         <hr id="hr" class="mx-auto w-50 text"  style="height:4px;background: rgb(138, 33, 7);;color:rgb(138, 33, 7);;border:none;text-shadow:2px 2px 5px rgba(210, 56, 56, 1.0);"/>
       
                        <p class="p1">Niks Technology, the leading digital marketing agency in India extends assistance and 
                            360 degree digital marketing strategies to all sized businesses. We have mastered
                             industry wise excellence to become the stellar company committed towards brand 
                             building. We have adopted effective, innovative and relevant approach implement
                              digital marketing plan. With problem solving and result-driven methods, we help 
                              clients attain their goal. Here are some of the key features of our services which 
                              make us the trusted digital marketing company in Patna, India.</p>
                        <div class="row">
                            <div class="col-md-6 col-sm-12 col-offset-2">
                                <div class="boxr">
                                    <img src="img/bestDigital.png" alt="">
                                </div>
                            </div>
                            <div class="col-md-6 col-sm-12 col-offset-2">
                                <div class="boxr">
                                    • Provide your business with a dedicated account manager and team<br/>
                                    • Guidance for the betterment of startup!<br/>
                                    • Deliver transparent bi-monthly reports to your team<br/>
                                    • Build result-oriented customized strategies that support your company’s goals<br/>
                                    • Save time and money by availing our services!<br/>
                                    • Expert guidance for strengthening brand presence of a startup!<br/>
                                    • Answer your questions, provide solutions, fix technical issues, emails, and calls fast!<br/>
                                    • Increase search friendliness of your business with SEO services!<br/>
                                    • Get a comprehensive solution for 360° digital marketing strategy!<br/>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
                <div class="content-4">
                    <h5>WE CARE ABOUT OUR CLIENTS</h5>
                    <h4>SERVICES OFFERED BY NIKS TECHNOLOGY</h4>
                    <hr id="hr" class="mx-auto w-25 text"  style="height:4px;background: #ff9068;;color:#ff9068;;border:none;text-shadow:2px 2px 5px rgba(210, 56, 56, 1.0);"/>
                    <div class="box-c4">
                        <div class="row">
                           <div class="col-lg-4 col-md-6 col-sm-12">
                               <div class="box-c4-r">
                                   <img src="img/cyberSecurity.jpg" alt="">
                                   <h5>Cyber Security</h5>
                                   <p>We Provide Services for Cyber Security, Cyber Crime Consultancy and Ethical
                                        Hacking with Training in Patna. We Offer World Class Education With
                                         Global Certifications.</p>
                                   <a href="/services/cyberSecurity"><div class="info">
                                        <p>More Info</p>
                                    </div>
                                    </a>
                               </div>
                           </div>
                             <div class="col-lg-4 col-md-6 col-sm-12">
                               <div class="box-c4-r">
                                   <img src="img/digitalM.jpg" alt="">
                                   <h5>Digital Marketing</h5>
                                   <p>Niks Technology is the best Digital Marketing Company in Patna (India) and 
                                       is innovative and passionate delivering outstanding brand experiences 
                                       online.</p>
                                        <a href="/services/digitalMarketing"><div class="info">
                                        <p>More Info</p>
                                    </div>
                                    </a>
                               </div>
                           </div>
                             <div class="col-lg-4 col-md-6 col-sm-12">
                               <div class="box-c4-r">
                                   <img src="img/web.jpg" alt="">
                                   <h5>Web/Software Development</h5>
                                   <p>Web Development Services in Patna is all about creating a beautiful face
                                        of your business to the Digital world of Internet that can compete and
                                         make a stand out presence.</p>
                                          <a href="/services/webDevelopment"><div class="info">
                                        <p>More Info</p>
                                    </div>
                                    </a>
                               </div>
                           </div>
                             <div class="col-lg-4 col-md-6 col-sm-12">
                               <div class="box-c4-r">
                                   <img src="img/android.jpg" alt="">
                                   <h5>Android App Development</h5>
                                   <p>Mobile App Development And Training Center We Develop applications with
                                        practical implementation and begin managing your own cool applications 
                                        like a professional</p>
                                         <a href="/services/appDevelopment"><div class="info">
                                        <p>More Info</p>
                                    </div>
                                    </a>
                               </div>
                           </div>
                             <div class="col-lg-4 col-md-6 col-sm-12">
                               <div class="box-c4-r">
                                   <img src="img/franchise.jpg" alt="">
                                   <h5>Franchise</h5>
                                   <p>Niks technology franchisee is a tremendous opportunity. We are seeking 
                                       individuals with significant business experience who have successfully 
                                       owned .</p>
                                        <a href="/franchise"><div class="info">
                                        <p>More Info</p>
                                    </div>
                                    </a>
                               </div>
                           </div>
                             <div class="col-lg-4 col-md-6 col-sm-12">
                               <div class="box-c4-r">
                                   <img src="img/school.jpg" alt="">
                                   <h5>Workshops</h5>
                                   <p>We Provide Workshops on various technologies like Android, Robotics,
                                        Hacking etc. in colleges, schools and institutes to spread knowledge about
                                         the upcoming technologies.</p>
                                          <a href="/workshop/school/informationSecurity"><div class="info">
                                        <p>More Info</p>
                                    </div>
                                    </a>
                               </div>
                           </div>
                        </div>
                    </div>
                </div>
                <div class="content-5">
                    <div class="box-c5">
                        <h4>Why To Opt Us</h4>
                         <hr id="hr" class="mx-auto w-50 text"  style="height:4px;background: #fff;color:#fff;border:none;text-shadow:2px 2px 5px rgba(210, 56, 56, 1.0);"/>
                 
                      <h5>Over 08 Years of Experience</h5>
                         <hr id="hr" class="mx-auto w-25 text"  style="height:2px;background: #fff;color:#fff;border:none;text-shadow:2px 2px 5px rgba(210, 56, 56, 1.0);"/>
                 
                        <p>We believe in the realization of our vision through our inherent values that have
                             provided us with strength right from the beginning.</p>
                        <h5>Proactive Team.</h5>
                         <hr id="hr" class="mx-auto w-25 text"  style="height:2px;background: #fff;color:#fff;border:none;text-shadow:2px 2px 5px rgba(210, 56, 56, 1.0);"/>
                 
                        <p>Niks Technology Team understand client’s requirements and it’s our people’s 
                            dedication, enthusiasm, steadfast commitment, positive attitude that has been
                             driving our efforts in pursuit of excellence.</p>
                            <h5>Continuously Evolving</h5>
                             <hr id="hr" class="mx-auto w-25 text"  style="height:2px;background: #fff;color:#fff;border:none;text-shadow:2px 2px 5px rgba(210, 56, 56, 1.0);"/>
                 
                            <p>Niks Technology commitment to Quality policy reflects our vision, Quality services,
                                 technological expertise, and our assurance towards designing and developing
                                  Quality IT Solutions which can quickly adapt to the changes and enhancements
                             in technical environment.</p>
                    </div>
                </div>
                <div class="content-6">
                    <div class="box-c6">
                        <h4>Testimonials</h4>
                        <hr id="hr" class="mx-auto w-50 text"  style="height:4px;background: #ff9068;color:#ff9068;border:none;text-shadow:2px 2px 5px rgba(210, 56, 56, 1.0);"/>
                        <div class="row">
                            <div class="col-lg-3 col-sm-6 col-offset-2 c-1">
                            <div class="box-c6-r bx-1">
                                <img src="https://img.icons8.com/ios-glyphs/30/000000/quote-left.png"/>
                                <p>
                                   Amazing classes , great staff and wonderful lectures, all who are interested
                                    in learning Web Development/Software Development should have no confusion but 
                                    just come here.Thanks for your kind review. Please keep coming back, for your 
                                    further learning requirements. <br>
                                   <span> - Priya Rani</span>
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6 col-offset-2 c-1">
                            <div class="box-c6-r bx-2">
                                <img src="https://img.icons8.com/ios-glyphs/30/000000/quote-left.png"/>
                                <p>
                                   I am very much satisfied by my Robotics and Embedded System training and also
                                    the institute... nice learning environment and very good teacher.... <br>
                                   <span> - Neha</span>
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6 col-offset-2 c-1">
                            <div class="box-c6-r bx-3">
                                <img src="https://img.icons8.com/ios-glyphs/30/000000/quote-left.png"/>
                                <p>
                                   Good learning environment. Syllabus covered as promised. Learnt use cases
                                    of Cyber Security.I enjoyed learning. <br>
                                   <span> - Chandan Soni</span>
                                </p>
                            </div>
                        </div>
                        <div class="col-lg-3 col-sm-6 col-offset-2 c-1">
                            <div class="box-c6-r bx-4">
                                <img src="https://img.icons8.com/ios-glyphs/30/000000/quote-left.png"/>
                                <p>
                                   I wanted to thank everyone for helping me a lot. Before i started course, i was
                                    not confident over myself. From the beginning of the course they have showed
                                     great professionalism, patience, and encouragement. They helped me lot on my
                                      first job. They showed me a great path. <br>
                                     <span> - Aadil Hussain</span>
                                </p>
                            </div>
                        </div>
                        </div>
                        
                    </div>
                </div>
          
            </div>
        </div>
    </div>
    {{> footer}}

    
       
</body>
</html>

