<footer>
          <div class="footer">
                    <div class="footer-c">
                        <div class="row">
                            <div class="col-lg-4 col-md-6 col-offset-2">
                        <div class="box-f">
                            <div class="box-inner">
                            <h5>Contact Us</h5>
                            <p><i class="material-icons">location_on</i> Address:-</p>
                            <p class="p2">501 Shiv Laxmi Plaza Opposite Rajendra Nagar, Kankarbagh, Patna-800020, Bihar.</p>
                            <p> <i class="material-icons">call</i> Phone:-</p>
                            <p class="p2">09031044450 / 09955111150</p>
                            <p><i class="material-icons">email</i> Email Us :-</p>
                            <p class="p2">contact@nikstech.com</p>
                        </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-offset-2">
                        <div class="box-f">
                            <h5>Popular Courses</h5>
                          <a href="/courses/CandCpp"> <button class="btn btn-light" >C,C++</button></a> 
                          <a href="/courses/java"> <button class="btn btn-light">Java</button></a>
                            <a href="/courses/android"><button class="btn btn-light">Android App</button></a>
                              <a href="/courses/ethicalHacking"><button class="btn btn-light">Ethical Hacking</button></a>
                              <a href="/courses/robotics"> <button class="btn btn-light">Robotics</button></a> 
                              <a href="/courses/embeddedSystem"> <button class="btn btn-light">Enbedded Systems</button></a> 
                                <a href="/courses/webDevelopment"><button class="btn btn-light">Web Development</button></a>
                               <a href="/courses/softwareDevelopment"> <button class="btn btn-light">Software Development</button></a>   
                                 <a href="/courses/python"> <button class="btn btn-light">Python</button></a> 
                                <a href="/courses/PHPandMYSQL"> <button class="btn btn-light">PHP & MySQL</button></a>   
                                <a href="/courses/linuxShell">  <button class="btn btn-light">Linux Shell Script</button></a>    
                                <a href="/courses/iot"> <button class="btn btn-light">IOT</button></a>    
                                  <a href="/courses/dca">  <button class="btn btn-light">DCA</button></a>  
                                  <a href="/courses/adca"><button class="btn btn-light">ADCA</button></a>  
                                       
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-offset-2">
                        <div class="box-f">
                            <h5>Social</h5>
                            <iframe src="https://www.facebook.com/plugins/page.php?href=https%3A%2F%2Fwww.facebook.com%2Fnikstechnology&amp;tabs=timeline&amp;width=300&amp;height=250&amp;small_header=false&amp;adapt_container_width=true&amp;hide_cover=false&amp;show_facepile=true&amp;appId" width="300" height="250" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
                        </div>
                    </div>
                        </div>
                        <p class="p1">© 2019 All Rights Reserved. Website Designed & Maintained by   Niks Technology</p>
                       <p class="p1">  <a target ="_blank"  href="https://www.facebook.com/nikstechnology/"><i class='fab fa-facebook-square' style='font-size:24px'></i></a>
                 <a target ="_blank" href="https://twitter.com/NiksTechnology"><i class='fab fa-twitter' style="font-size:24px;"></i></a>
                    <a target ="_blank" href="https://www.facebook.com/nikstechnologygaya/"><i class='fab fa-facebook-square' style='font-size:24px'></i></a>
                    <a target ="_blank" href="https://www.youtube.com/channel/UC2GOj2ehxyq--oyjDpoLN8A"><i class='fab fa-youtube' style='font-size:24px'></i></a>
             </p>
                        
                    </div>
                    
                </div>
</footer>