
     <nav>
        <div class="logo">NIKS TECHNOLOGY</div>
        <label for="btnn" class="icon">
            <span class="fa fa-bars"></span>
        </label>
        <input class="inputv" type="checkbox" id="btnn">
        <ul>
            <li><a href="/">Home</a></li>
            <li>
                <label for="btnn-1" class="show">Services +</label>
                <a href="#">Services</a>
                <input class="inputv" type="checkbox" id="btnn-1">
                
                <ul>
                    <li><a href="/services/appDevelopment">Android App Development</a></li>
                    <li><a href="/services/cyberSecurity">Cyber Security</a></li>
                    <li><a href="/services/digitalMarketing">Digital Marketing</a></li>
                    <li><a href="/services/webDevelopment">Web Development</a></li>
                    <li><a href="/services/softwareDevelopment">Software Development</a></li>
                </ul>
            </li>

            <li>
                <label for="btnn-2" class="show">Products +</label>
                <a href="#">Products</a>
                <input class="inputv" type="checkbox" id="btnn-2">
                
                <ul>
                    <li><a href="/products/digitalMarketing">Digital Marketing</a></li>
                    <li><a href="/products/hospitalManagementSystem">Hospital Management System</a></li>
                    <li><a href="/products/hotelManagementSystem">Hotel Management System</a></li>
                    <li><a href="/products/mobileSpy">Mobile Spy</a></li>
                    <li><a href="/products/onlineExams">Online Exams</a></li>
                    <li><a href="/products/realEstateManagementSystem">Real Estate Management System</a></li>
                    <li><a href="/products/retailPOS">Retail POS Management System</a></li>
                    <li><a href="/products/tourManagementSystem">Tour & Travel Management System</a></li>
                    <li><a href="/products/schoolManagementSystem">School Management System</a></li>
                    <li><a href="/products/otherProducts">Other Products</a></li>
                </ul>
            </li>

            

            <li>
                <label for="btnn-3" class="show">Workshop +</label>
                <a href="#">Workshop</a>
                <input class="inputv" type="checkbox" id="btnn-3">
                <ul>
                    <li>
                        <label for="btnn-4" class="show">School Workshop</label>
                        <a href="#">School Workshop
                            <!-- <span class="fa fa-plus"></span> -->
                        </a>
                        <input class="inputv" type="checkbox" id="btnn-4">
                        <ul>
                            <li><a href="/workshop/school/androidDevelopment">Android Development</a></li>
                            <li><a href="/workshop/school/embeddedSystems">Embedded Systems</a></li>
                            <li><a href="/workshop/school/informationSecurity">Information Security</a></li>
                            <li><a href="/workshop/school/robotics">Robotics</a></li>
                            <li><a href="/workshop/school/softwareDevelopment">Software Development</a></li>
                            <li><a href="/workshop/school/webDevelopment">Web Development</a></li>
                        </ul>
                    </li>
                    <li>
                        <label for="btnn-5" class="show">College Workshop</label>
                        <a href="#">College Workshop
                            <!-- <span class="fa fa-plus"></span> -->
                        </a>
                        <input class="inputv" type="checkbox" id="btnn-5">
                        <ul>
                            <li><a href="/workshop/college/androidDevelopment">Android Development</a></li>
                            <li><a href="/workshop/college/embeddedSystems">Embedded Systems</a></li>
                            <li><a href="/workshop/college/informationSecurity">Information Security</a></li>
                            <li><a href="/workshop/college/robotics">Robotics</a></li>
                            <li><a href="/workshop/college/softwareDevelopment">Software Development</a></li>
                            <li><a href="/workshop/college/webDevelopment">Web Development</a></li>
                        </ul>
                    </li>
                </ul>
            </li>





       
       
        <li>
            <label for="btnn-6" class="show">More +</label>
            <a href="#">More +</a>
            <input class="inputv" type="checkbox" id="btnn-6">
            <ul>
                <li><a href="/courses">Courses</a></li>
                <li><a href="/career">Career</a></li>
                <li><a href="/enquiry">Enquiry</a></li>
                <li><a href="/enroll">Enroll</a></li>
                <li><a href="/franchise">Franchise</a></li>
                <li><a href="/login">Login</a></li>
                <li><a href="/signup">Signup</a></li>
                <li>
                    <label for="btnn-7" class="show">Training +</label>
                    <a href="#">Training
                        <span class="fa fa-plus"></span>
                    </a>
                    <input class="inputv" type="checkbox" id="btnn-7">
                    <ul>
                        <li><a href="/training/industrialTraining">Industrial Training</a></li>
                        <li><a href="/training/jobOrientedTraining">Job Oriented Training</a></li>
                        <li><a href="/training/jobGuaranteeTraining">Job Guaranttee Training</a></li>
                        <li><a href="/training/winterTraining">Winter Training</a></li>
                        <li><a href="/training/summerTraining">Summer Training</a></li>
                    </ul>
                </li>
                <li>
                    <label for="btnn-8" class="show">Investors +</label>
                    <a href="#">Investors
                        <span class="fa fa-plus"></span>
                    </a>
                    <input class="inputv" type="checkbox" id="btnn-8">
                    <ul>
                        <li><a href="/investors/codeAndPolicies">Code and Policies</a></li>
                        <li><a href="/investors/corporateGovernance">Corporate Governance</a></li>
                        <li><a href="/investors/financialRelations">Financial Relations</a></li>
                        <li><a href="/investors/initialPublicOffering">Initial Public Offering</a></li>
                    </ul>
                </li>
            </ul>
        </li>
        <li><a href="/aboutUs">About Us</a></li>
        <li><a href="/contactUs">Contact Us</a></li>
        </ul>
    </nav>
