@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins', sans-serif;
    
}

.container-fluid{
    padding-left: 0px;
    padding-right:0px;
    overflow:hidden;
}

h3,h4{
    text-align:center;
    color:#ff9068;
}

p{
    text-align:center;
}

.wrapper{
    width:100%;
    height:195vh;
    background-image:url('/img/ba.jpg');
    background-size:cover;
}


.content{
    position:relative;
    top:10%;
    width:80%;
    margin-left:10%;
    margin-right:10%;
    padding:50px 50px;
    justify-content:space-between;
    align-items:center;
    background:rgba(255,255,255,0.7) ;
    box-shadow: 0 15px 35px rgba(0,0,0,0.5);
    border-radius:20px;
    backdrop-filter: blur(10px);
    border:1px solid rgba(255,255,255,0.25);
    border-top:1px solid rgba(255,255,255,0.5);
    border-left:1px solid rgba(255,255,255,0.5);
    color:#777;
    justify-content:center;
    align-items:center;
    overflow:hidden;
    backdrop-filter:blur(25px);
}

h5{
    text-align:center;
    margin-top:20px;
    margin-bottom:20px;
    color:#ff9068;
}

@media(max-width:1039px){
    .content{
        width:90%;
        margin-left:5%;
        margin-right:5%;
        top:100px;
    }
}

@media(max-width:800px){
    .content{
       padding:50px 30px;
        top:60px;
    }
    .wrapper{
        height:205vh;
    }
}

@media(max-width:600px){
    .content{
       padding:50px 30px;
        top:60px;
    }
    .wrapper{
        height:225vh;
    }
}

@media(max-width:500px){
    .content{
        padding:50px 30px;
         top:50px;
         width:95%;
         margin-left:3%;
         margin-right:2%;
     }
     .wrapper{
         height:240vh;
     }
}

@media(max-width:450px){
    .content{
        padding:50px 30px;
         top:50px;
         width:95%;
         margin-left:3%;
         margin-right:2%;
     }
     .wrapper{
         height:270vh;
     }
}

@media(max-width:400px){
    p, .text-el{
        font-size:0.9em;
    }
    
    .content{
        padding:50px 15px;
    }
}

@media(max-width:310px){
    .wrapper{
        height:300vh;
    }
}

@media(max-width:270px){
    .wrapper{
        height:320vh;
    }
}



