@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins', sans-serif;
    
}

.container-fluid{
    padding-left: 0px;
    padding-right:0px;
    overflow:hidden;
}

h3,h4{
    text-align:center;
    color:#ff9068;
}

p{
    text-align:center;
}

.wrapper{
    width:100%;
    height:145vh;
    background-image:url('/img/ba.jpg');
    background-size:cover;
}

.content{
    position:relative;
    top:10%;
    width:80%;
    margin-left:10%;
    margin-right:10%;
    padding:50px 50px;
    justify-content:space-between;
    align-items:center;
    background:rgba(255,255,255,0.7) ;
    box-shadow: 0 15px 35px rgba(0,0,0,0.5);
    border-radius:20px;
    backdrop-filter: blur(10px);
    border:1px solid rgba(255,255,255,0.25);
    border-top:1px solid rgba(255,255,255,0.5);
    border-left:1px solid rgba(255,255,255,0.5);
    color:#777;
    justify-content:center;
    align-items:center;
    overflow:hidden;
    backdrop-filter:blur(25px);
}

h5{
    text-align:center;
    margin-top:20px;
    margin-bottom:20px;
    color:#ff9068;
}

.box-1{
    width:90%;
    margin-left:5%;
    margin-right:5%;
}

@media(max-width:1039px){
    .content{
        width:90%;
        margin-left:5%;
        margin-right:5%;
    }
}

@media(max-width:800px){
    .wrapper{
        height:155vh;
    }
}

@media(max-width:768px){
    .wrapper{
        height:195vh;
    }
}

@media(max-width:700px){
    .content{
        padding:50px 30px;
        top:100px;
    }
}

@media(max-width:610px){
    .content{
        padding:50px 30px;
        top:80px;
    }
    .wrapper{
        height:205vh;
    }
}

@media(max-width:530px){
    .content{
        padding:50px 20px;
        top:80px;
    }
    .wrapper{
        height:215vh;
    }
}

@media(max-width:480px){
    .content{
        padding:50px 20px;
        top:80px;
    }
    .wrapper{
        height:230vh;
    }
}

@media(max-width:425px){
    .content{
        padding:50px 20px;
        top:80px;
    }
    .wrapper{
        height:250vh;
    }
}

@media(max-width:400px){
    .content{
        padding:50px 15px;
        top:80px;
    }
    .wrapper{
        height:230vh;
    }

    .text-el , p{
        font-size:0.9em;
    }
}

@media(max-width:400px){
    .content{
        padding:50px 15px;
        top:80px;
        width:95%;
        margin-left:3%;
        margin-right:2%;
    }
    .wrapper{
        height:230vh;
    }

}

@media(max-width:340px){   
    .wrapper{
        height:250vh;
    }
}

@media(max-width:300px){   
    .wrapper{
        height:270vh;
    }
}



