@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins', sans-serif;
    
}

.container-fluid{
    padding-left: 0px;
    padding-right:0px;
    overflow:hidden;
}

h3,h4{
    text-align:center;
    color:#ff9068;
}

p{
    text-align:center;
}

.wrapper{
    width:100%;
    height:175vh;
    background-image:url('/img/ba.jpg');
    background-size:cover;
}

.content{
    position:relative;
    top:100px;
    width:80%;
    margin-left:10%;
    margin-right:10%;
    padding:50px 50px;
    justify-content:space-between;
    align-items:center;
    background:rgba(255,255,255,0.7) ;
    box-shadow: 0 15px 35px rgba(0,0,0,0.5);
    border-radius:20px;
    backdrop-filter: blur(10px);
    border:1px solid rgba(255,255,255,0.25);
    border-top:1px solid rgba(255,255,255,0.5);
    border-left:1px solid rgba(255,255,255,0.5);
    color:#777;
    justify-content:center;
    align-items:center;
    overflow:hidden;
    backdrop-filter:blur(25px);
}

h5{
    text-align:center;
    margin-top:20px;
    margin-bottom:20px;
    color:#ff9068;
}

.box-1{
    width:90%;
    margin-left:5%;
    margin-right:5%;
}

@media(max-width:1039px){
    .wrapper{
        height:194vh;
    }
    .content{
        width:90%;
        margin-left:5%;
        margin-right:5%;
    }
}

@media(max-width:768px){
    .wrapper{
        height:240vh;
    }
}


@media(max-width:660px){
    .wrapper{
        height:260vh;
    }
    .content{
        top:80px;
    }
}

@media(max-width:560px){
    .wrapper{
        height:280vh;
    }
    .content{
        top:80px;
        
    }
}

@media(max-width:485px){
    .wrapper{
        height:290vh;
    }
    .content{
        top:80px;
        padding:50px 30px;
    }
}

@media(max-width:435px){
    .wrapper{
        height:310vh;
    }
    .content{
        top:80px;
        padding:50px 15px;
    }
}

@media(max-width:375px){
    .wrapper{
        height:310vh;
    }
    .content{
        top:80px;
        padding:50px 15px;
    }
    p, .text-el{
        font-size:0.9em;
    }
}

@media(max-width:315px){
    .wrapper{
        height:330vh;
    }
}

@media(max-width:285px){
    .wrapper{
        height:340vh;
    }
}

@media(max-width:275px){
    .wrapper{
        height:360vh;
    }
}


