@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins', sans-serif;
    
}

.container-fluid{
    padding-left: 0px;
    padding-right:0px;
    overflow:hidden;
}


.wrap{
    position:absolute;
    display:flex;
    justify-content:center;
    align-items:center;
    margin:0px;
    filter:brightness(30%);
    min-height:100vh;
    width:100%;
    background:url('/img/digitalM.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.info{
    position:absolute;
    z-index:30;
    margin-top:200px;
    margin-left: 10%;
    margin-right: 10%;
    padding-left:4%;
    padding-right:4%;
    padding-top: 2%;
    padding-bottom: 2%;
    width:80%;
    background:rgba(255,255,255,0.1);
    box-shadow:0 25px 45px rgba(0,0,0,0.1);
    border:1px solid rgba(255,255,255,0.25);
    border-right:1px solid rgba(255,255,255,0.1);
    border-bottom:1px solid rgba(255,255,255,0.1);
    border-radius:10px;
    overflow:hidden;
    backdrop-filter:blur(25px);
    max-height:400px;
    color:#fff;
    text-align:center;
}

.content{
    position:absolute;
    top:100vh;
    background: rgb(231, 227, 227) url(http://quomodosoft.com/html/agencyfy/agencyfy/assets/img/bg-layers/subscriber-bg.png) no-repeat scroll center center/contain;
    /* background-image: url('/img/lastbg.png'); */
    background-size: cover;
    overflow:hidden;
    padding-top:60px;
    padding-bottom:60px;
    padding-left:30px;
    padding-right:30px;
    color:#777;
}

.box{
    text-align:center;
}

.content p{
    text-align:center;
}


.box{
    position:relative;
    width:80%;
    margin-left:10%;
    margin-right:10%;
    margin-top:8%;
    padding-top:20px;
    padding-bottom:50px;
    padding-left:50px;
    padding-right:50px;
    justify-content:space-between;
    align-items:center;
    background:#97fdd72e;;
    box-shadow: 0 15px 35px rgba(0,0,0,0.5);
    border-radius:20px;
    backdrop-filter: blur(10px);
    border:1px solid rgba(255,255,255,0.25);
    border-top:1px solid rgba(255,255,255,0.5);
    border-left:1px solid rgba(255,255,255,0.5);
    color:#777;
    justify-content:center;
    align-items:center;
    overflow:hidden;
}


.box h3{
    text-align:center;
    font-size:2em;
    color:#fd746c;
    margin-top:30px;
    margin-left:30px;
    margin-right:30px;
}


.box-1{
    position:relative;
    width:90%;
    margin-left:5%;
    margin-right:5%;
    margin-top:8%;
    padding-top:40px;
    padding-bottom:50px;
    padding-left:20px;
    padding-right:20px;
    justify-content:space-between;
    align-items:center;
    background:#97fdd72e;;
    box-shadow: 0 15px 35px rgba(0,0,0,0.5);
    border-radius:20px;
    backdrop-filter: blur(10px);
    border:1px solid rgba(255,255,255,0.25);
    border-top:1px solid rgba(255,255,255,0.5);
    border-left:1px solid rgba(255,255,255,0.5);
    color:#777;
    justify-content:center;
    align-items:center;
    height:300px;
    overflow:hidden;
}


.content h3{
    text-align:center;
    font-size:2em;
    color:#fd746c;
    margin-top:30px;
    margin-left:30px;
    margin-right:30px;
}

.content h5{
    text-align:center;
    font-size:1.5em;
    color:#ff9068;
    margin-top:30px;
    margin-left:30px;
    margin-right:30px;
}

.content h4{
    text-align:center;
    font-size:1.7em;
    color:#fd746c;
    margin-top:50px;
    margin-bottom:20px;
    margin-left:30px;
    margin-right:30px;
}


.text-el{
    margin-left:7%;;
    margin-top:40px;
}


@media(max-width:1039px){
    .box-1{
        height:400px;
        padding-top:30px;
        padding-bottom:50px;
        padding-left:10px;
        padding-right:10px;
    }
}
@media(max-width:1039px){
    .box-1{
        height:auto;
        padding-top:50px;
        padding-bottom:50px;
        padding-left:20px;
        padding-right:20px;
    }
}

@media(max-width:600px){
    .box{
        width:90%;
        margin-left:5%;
        margin-right:5%;
    }
}

@media(max-width:450px){
    .box h3{
        text-align:center;
        font-size:1.5em;
        color:#fd746c;
        margin-top:30px;
        margin-left:15px;
        margin-right:15px;
    }
    .content h3{
        text-align:center;
        font-size:1.5em;
        color:#fd746c;
        margin-top:30px;
        margin-left:15px;
        margin-right:15px;
    }
    .content h5{
        text-align:center;
        font-size:1.1em;
        color:#fd746c;
        margin-top:30px;
        margin-left:15px;
        margin-right:15px;
    }
    .content h4{
        text-align:center;
        font-size:1.3em;
        color:#fd746c;
        margin-top:30px;
        margin-left:15px;
        margin-right:15px;
    }
    .content{
        padding-left:15px;
        padding-right:15px;
    }
    .box{
        padding-left:15px;
        padding-right:15px;
    }
    .info h1{
        font-size:1.7em;

    }
    .info h3{
        font-size:1.5em;
        
    }
}

@media(max-width:350px){
    .box{
        width:95%;
        margin-left:3%;
        margin-right:2%;
    }
    .box-1{
        width:95%;
        margin-left:3%;
        margin-right:2%;
    }
    .info{
        width:90%;
        margin-left:5%;
        margin-right:5%;
    }
    .content{
        overflow:hidden;
    }
   
}