@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins', sans-serif;
    
}

.container-fluid{
    padding-left: 0px;
    padding-right:0px;
    overflow:hidden;
}
.wrapper{
    overflow:hidden;
}

.wrap{
    /* position:absolute; */
    background-image: url('/img/digital.jpg');
    background-blend-mode:darken;
    background-size: cover;
    height:100vh;
    width:100%;
    overflow:hidden;
    filter: brightness(100%);
    /* z-index:1; */
}

.info{
    position:absolute;
   top:200px;
    margin-left:90px;
    margin-right:90px;
    padding:20px 20px;
    backdrop-filter:blur(30px);
    background:rgba(255,255,255,0.2);
}

.info h3{
    color:#1b1b1b !important;
    font-size:2em;
}


.info p{
color:#1b1b1b;
font-size:1.2em;
}


@media(max-width:775px){
    .info{
        position:absolute;
        top:60px;
        margin-left:60px;
        margin-right:60px;
        text-align:center;
    }
}

@media(max-width:500px){
    .info{
        position:absolute;
        top:40px;
        margin-left:25px;
        margin-right:25px;
        text-align:center;
    }
    .info h3{
        
        font-size:1.6em;
    }
    
    
    .info p{
    
    font-size:1.1em;
    }
}

@media(max-width:370px){
    .info{
        position:absolute;
        top:50px;
        margin-left:10px;
        margin-right:10px;
        text-align:center;
    }
    .info h3{
       
        font-size:1.3em;
    }
    
    
    .info p{
   
    font-size:1em;
    }
}