@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins', sans-serif;
    
}

.container-fluid{
    padding-left: 0px;
    padding-right:0px;
    overflow:hidden;
}


.wrap{
    background-image: url('/img/digital.jpg');
    background-blend-mode:darken;
    background-size: cover;
    height:100vh;
    width:100%;
    overflow:hidden;
    filter: brightness(20%);
    z-index:1;
}

.info{
    position:absolute;
    top:200px;
    margin-left:90px;
    margin-right:90px;

}

.info h3{
    color:#fff;
    font-size:2em;
}


.info p{
color:#fff;
font-size:1.2em;
}


@media(max-width:775px){
    .info{
        position:absolute;
        top:100px;
        margin-left:60px;
        margin-right:60px;
        text-align:center;
    }
}

@media(max-width:500px){
    .info{
        position:absolute;
        top:80px;
        margin-left:30px;
        margin-right:30px;
        text-align:center;
    }
    .info h3{
        color:#fff;
        font-size:1.8em;
    }
    
    
    .info p{
    color:#fff;
    font-size:1.1em;
    }
}

@media(max-width:370px){
    .info{
        position:absolute;
        top:60px;
        margin-left:10px;
        margin-right:10px;
        text-align:center;
    }
    .info h3{
        color:#fff;
        font-size:1.4em;
    }
    
    
    .info p{
    color:#fff;
    font-size:1em;
    }
}