@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins', sans-serif;
    
}

.container-fluid{
    padding-left: 0px;
    padding-right:0px;
    overflow:hidden;
}

.wrap{
    background-image: url('/img/franchise.jpg');
    background-blend-mode:darken;
    background-size: cover;
    height:100vh;
    width:100%;
    overflow:hidden;
    filter: brightness(20%);
    z-index:1;
}

.info{
    position:absolute;
    z-index:30;
    top:150px;
    margin-left: 100px;
    margin-right: 100px;
    padding-left:5%;
    padding-right:5%;
    padding-top: 5%;
    padding-bottom: 5%;
    background:rgba(255,255,255,0.1);
    box-shadow:0 25px 45px rgba(0,0,0,0.1);
    border:1px solid rgba(255,255,255,0.25);
    border-right:1px solid rgba(255,255,255,0.1);
    border-bottom:1px solid rgba(255,255,255,0.1);
    border-radius:10px;
    overflow:hidden;
    backdrop-filter:blur(25px);
    max-height:400px;
    text-align:center;
    color:#fff;
}

.box{
    position:relative;
    margin-top:20px;
    margin-bottom:20px;
    width:90%;
    margin-left:5%;
    margin-right:5%;
    height:360px;
    padding-bottom:20px;
    box-shadow:10px 10px 5px rgba(252, 56, 56, 0.2);
    border-radius:30px;
}

.img{
    border-top-left-radius:30px ;
    border-top-right-radius: 30px;
}

.img-1{
    position:relative;
    background-image:url('/img/img-1.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    width:100%;
    height:100px;
    z-index:40;
}

.img-2{
    position:relative;
    background-image:url('/img/img-2.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    width:100%;
    height:100px;
    z-index:40;
}


.img-3{
    position:relative;
    background-image:url('/img/img-3.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    width:100%;
    height:100px;
    z-index:40;
}

.img-4{
    position:relative;
    background-image:url('/img/img-4.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    width:100%;
    height:100px;
    z-index:40;
}

.img-5{
    position:relative;
    background-image:url('/img/img-5.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    width:100%;
    height:100px;
    z-index:40;
}

.img-6{
    position:relative;
    background-image:url('/img/img-6.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    width:100%;
    height:100px;
    z-index:40;
}

.box h5{
    text-align:center;
    margin-top:20px;
    margin-left:20px;
    margin-right:20px;
    color:#fd746c;
}
.box p{
    text-align:center;
    margin-left:20px;
    margin-right:20px;
    color:#777;
}

.para{
    text-align:center;
    color:#fd746c;
    font-size:1.7em;
    margin-right:20px;
    margin-left:20px;
    margin-top:20px;
    margin-bottom:20px;
}


.p{
    text-align:center;
    color:#777;
    font-size:1.5em;
    margin-right:20px;
    margin-left:20px;
    margin-top:20px;
    margin-bottom:20px;
}

@media(max-width:1100px){
    .box{
        height:400px;
    }
}


@media(max-width:1039px){
    .box{
        height:450px;
    }
}


@media(max-width:900px){
    .box{
        height:480px;
    }
}

@media(max-width:830px){
    .box{
        height:510px;
    }
}

@media(max-width:768px){
    .box{
        height:auto;
    }
    .info{
        width:80%;
        margin-left:10%;
        margin-right:10%;
    }
}

@media(max-width:550px){
    .info{
        width:90%;
        margin-left:5%;
        margin-right:5%;
    }
}

@media(max-width:450px){
    .box{
        width:95%;
        margin-left:2%;
        margin-right:3%;
    }
}

@media(max-width:350px){
    .info{
        top:100px;
        padding-left:2%;
        padding-right:2%;
    }
    
}
