@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins', sans-serif;
    
}

.container-fluid{
    padding-left: 0px;
    padding-right:0px;
    overflow:hidden;
}

.wrap{
    background-image: url('/img/hotel.jpg');
    background-blend-mode:darken;
    background-size: cover;
    height:100vh;
    width:100%;
    overflow:hidden;
    filter: brightness(20%);
    z-index:1;
}

.info{
    position:absolute;
    top:200px;
    margin-left:90px;
    margin-right:90px;

}

.info h3{
    color:#fff;
    font-size:2.5em;
}


.info p{
color:#fff;
font-size:1.5em;
}


.content{
    min-height:100vh;
    background: rgb(231, 227, 227) url(http://quomodosoft.com/html/agencyfy/agencyfy/assets/img/bg-layers/subscriber-bg.png) no-repeat scroll center center/contain;
    background-size:cover;
    padding-top:8%;
}

.cards{
    position:relative;
    width:80%;
    margin-left:10%;
    margin-right:10%;
    background:rgb(252, 250, 250);
    box-shadow:0 25px 45px rgba(0,0,0,0.3);
    border-radius:20px;
    padding-left:30px;
    padding-right:30px;
    padding-top:50px;
    padding-bottom:30px;
    min-height:400px;
    color:#777;
    
}

.left p{
    font-size:1.2em;
    color:#fd746c;
}

.text{
    position: relative;
    margin-left:20px;
}

@media(max-width:650px){
    .info h3{
        font-size:2em;
        text-align:center;
    }
    .info p{
        font-size:1.2em;
        text-align:center;
    }
    .info{
        position:absolute;
    top:120px;
    margin-left:80px;
    margin-right:80px;
    }
}

@media(max-width:450px){
    .info h3{
        font-size:1.7em;
        text-align:center;
    }
    .info p{
        font-size:1.1em;
        text-align:center;
    }
    .info{
        position:absolute;
        top:150px;
        margin-left:50px;
        margin-right:50px;
    }
}

@media(max-width:340px){
    .info h3{
        font-size:1.5em;
        text-align:center;
    }
    .info p{
        font-size:1em;
        text-align:center;
    }
    .info{
        position:absolute;
        top:100px;
        margin-left:30px;
        margin-right:30px;
    }
    .text{
        position: relative;
        margin-left:10px;
    }
}
