@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:'Poppins', sans-serif;
    
}

section{
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
    background:url('/img/mobileNew.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding:50px;
    overflow:hidden;
   
}


.container{
    position:relative;
    width:calc(100% - 100px);
    min-height:calc(100vh - 280px);
    min-height: 300px;
    background:rgba(255,255,255,0.5) ;
    box-shadow: 0 15px 35px rgba(0,0,0,0.05);
    border-radius:20px;
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding:50px;
    
}


header{
    position:absolute;
    top:-40px;
    right:20px;
    left:20px;
    padding:20px 50px;
    display:flex;
    justify-content:space-between;
    align-items:center;
    background:rgba(255,255,255,0.2) ;
    box-shadow: 0 15px 35px rgba(0,0,0,0.05);
    border-radius:20px;
    backdrop-filter: blur(10px);
    border:1px solid rgba(255,255,255,0.25);
    border-top:1px solid rgba(255,255,255,0.5);
    border-left:1px solid rgba(255,255,255,0.5);
}

header .heading{
    color:rgb(138, 33, 7);
    font-weight: 700;
    text-decoration:none;
    font-size:1.8em;
    
}

.content{
   transform: translateX(-100px);
   max-width:700px;
   box-shadow: 0 15px 30px rgba(0,0,0,0.1);
    border-radius:20px;
    backdrop-filter: blur(10px);
    border:1px solid rgba(255,255,255,0.25);
    border-top:1px solid rgba(255,255,255,0.5);
    border-left:1px solid rgba(255,255,255,0.5);
    padding:40px;
    padding-left:90px;
margin-top:50px;
padding-right:10px;
}



.content p{
    font-size:1.1em;
    color:rgb(138, 33, 7);
    
}

.imgBox img{
    max-width: 300px;
    animation:animate 5s linear infinite;
}

@keyframes animate{
    0%,100%{
        transform:translateY(30px);
    }
    50%{
        transform:translateY(60px);
    }
}

@media (max-width:1200px){
    .container{
        position: relative;
        width: calc(100% - 20px);

    }

}

@media (max-width:1100px){
    .container{
        position: relative;
        width: calc(100% - 20px);

    }
    .content{
        margin-top:90px;
        padding-left: 20px;
    }

}



@media (max-width:992px){
section{
    padding:58px 10px 10px;

}

.container{
    flex-direction:column;
height:auto;
padding: 20px;

}

.container .content{
    transform: translateX(0px);
    max-width:100%;
    padding: 30px;
    margin-top: -40px;
}

header{
    position:relative;
    flex-direction:column;
    width:100%;
    top:-60px;
    padding:20px;
    right: 0;
    left:0;
}





.imgBox{
    margin-bottom:50px;
}
@keyframes animate{
    0%,100%{
        transform:translateY(-20px);
    }
    50%{
        transform:translateY(20px);
    }
}



}

@media(max-width:600px){
    
    .content p{
        font-size:1em;
        color:#8a2435;
    }
    .imgBox img{
        max-width:300px;

    }
}

@media(max-width:320px){
    header .heading{
        font-size:1.2em;
    }
}
