/* rgba(252, 56, 56, 0.2) */

.right-div{
    position:absolute;
    margin-left:54%;

    background-color:rgb(249, 230, 255);
    box-shadow:-10px 10px 5px grey;
    width:45vw;
    height:80vh;
    border-radius:50% / 100%;
    border-bottom-right-radius:0;
    border-top-right-radius:0;
    display:none;
    z-index:9;
    opacity:1;
    
    
}
.right-div:hover{
transform:scale(1.05)
}

.inner-div{
    position:absolute;
    padding-left:30%;
    padding-top:13%
}

/* .btn-danger{
    position:relative;
    padding-top:20%;
    padding-left:30%
} */

.image{
    position:absolute;
    padding:0;
    z-index:-1;
    opacity:0.99;
}


#arrow{
    font-size:50px;
    z-index:1;
    margin-left:95%;
    margin-top:13%;
    cursor:pointer;

}

.card{
    
    visibility: hidden;
    opacity: 0;
    transition: transform 0.2s ease;
  
}
div.in-view {
    transform: none;
    visibility: visible;
    opacity: 1;
  }

#arrow:hover{
    transform: scale(1.1)
}

#container{
    z-index:9;
    display:flex;
    flex-direction: column;

}


.rest-content{
    position:absolute;
    margin-top:100vh;
    font-family:sans-serif;
}

.description{
    position:absolute;
    padding-left:3%;
    padding-top:7%;
    padding-right:3%;
    font-family:sans-serif;
    font-style: italic;
    color:black;
    font-size:0.9em;
}

.heading{
    /* position:absolute; 
    padding-left:0%;
    margin-left:0%; */
    padding-top:3%; 
    font-family:sans-serif;
    font-style:oblique;
    font-size:0.85em;
    
}



