<!DOCTYPE html>
<html lang="en">
<head>
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
    crossorigin="anonymous">
     <link rel="stylesheet" href="/css/codeAndPolicies.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NIKS TECHNOLOGY - CODE AND POLICIES</title>
</head>
<body>
    <div class="container-fluid">
        <div class="wrapper">
            <div class="wrap">
               
           
             <div class="info">
                 <h3>CODE AND POLICIES</h3>
                   <hr id="hr" class="mx-auto w-50 text"  style="height:3px;background: #fff;color:#fff;border:none;text-shadow:2px 2px 5px rgba(210, 56, 56, 1.0);"/>
                   <div class="row">

                        <div class="col-lg-4 col-md-6 col-offset-2">
                            <div class="pdfcontainer">
                             <a class="btn btn-light" target="_blank" href="/pdfs/codeAndPolicies/CODE of Conduct.pdf">
                          <span> CODE of Conduct</span>
                           </a>
                           </div>
                        </div>
                         <div class="col-lg-4 col-md-6 col-offset-2">
                              <div class="pdfcontainer  ">
                              <a class="btn btn-light" target="_blank" href="/pdfs/codeAndPolicies/CODE for Materiality Policy.pdf">
                           <span>CODE for Materiality<br/> Policy</span>
                           </a>
                           </div>
                         </div>
                                                <div class="col-lg-4 col-md-6 col-offset-2">
                                                    <div class="pdfcontainer">
                           <a class="btn btn-light" target="_blank" href="/pdfs/codeAndPolicies/Code of Conduct On UPS.pdf">
                           <span>Code of Conduct <br/>On UPS</span>
                           </a>
                           </div>
                       </div>
                          <div class="col-lg-4 col-md-6 col-offset-2">
                               <div class="pdfcontainer">
                               <a class="btn btn-light" target="_blank" href="/pdfs/codeAndPolicies/Code of Fair Disclosure PIT.pdf">
                          <span> Code of Fair <br/>Disclosure PIT</span>
                           </a>
                           </div>
                          </div>
                         <div class="col-lg-4 col-md-6 col-offset-2">
                              
                              <div class="pdfcontainer">
                              <a class="btn btn-light" target="_blank" href="/pdfs/codeAndPolicies/Anti-Sexual Harassment Policy.pdf">
                           <span>Anti-Sexual <br/>Harassment Policy</span>
                           </a>
                         </div>
                         </div>
                          <div class="col-lg-4 col-md-6 col-offset-2">
                              <div class="pdfcontainer">
                               <a class="btn btn-light" target="_blank" href="/pdfs/codeAndPolicies/Audit Committee.pdf">
                           <span>Audit Committee</span>
                           </a>
                           </div>
                          </div>
                           <div class="col-lg-4 col-md-6 col-offset-2">
                                <div class="pdfcontainer ">
                                <a class="btn btn-light" target="_blank" href="/pdfs/codeAndPolicies/CODE of IDs.pdf">
                           <span>CODE of IDs</span>
                           </a>
                           </div>
                           </div>
                            <div class="col-lg-4 col-md-6 col-offset-2">
                                 <div class="pdfcontainer ">
                                 <a class="btn btn-light" target="_blank" href="/pdfs/codeAndPolicies/Nomination and Remuneration Committee.pdf">
                           <span>Nomination and <br/>Remuneration Committee</span>
                           </a>
                            </div>
                            </div>
                        <div class="col-lg-4 col-md-6 col-offset-2">
                            <div class="pdfcontainer">
                             <a class="btn btn-light" target="_blank" href="/pdfs/codeAndPolicies/Policy On Familiarisation of Independent Directors.pdf">
                          <span> Policy On Familiarisation <br/>of Independent Directors</span>
                           </a>
                           </div>
                        </div>
                              <div class="col-lg-4 col-md-6 col-offset-2">
                                  <div class="pdfcontainer ">
                                   <a class="btn btn-light" target="_blank" href="/pdfs/codeAndPolicies/Policy On Preservation of Documents.pdf">
                           <span>Policy On Preservation<br/> of Documents</span>
                           </a>
                              </div>
                              </div>
                         <div class="col-lg-4 col-md-6 col-offset-2">
                             <div class="pdfcontainer ">
                              <a class="btn btn-light" target="_blank" href="/pdfs/codeAndPolicies/Policy On Whistle Blower & Vigil Mechanism.pdf">
                           <span>Policy On Whistle Blower<br/> & Vigil Mechanism</span>
                           </a>
                         </div>
                         </div>
                          <div class="col-lg-4 col-md-6 col-offset-2">
                               <div class="pdfcontainer">
                               <a class="btn btn-light"  target="_blank" href="/pdfs/codeAndPolicies/Policy OnRPT.pdf">
                           <span>Policy OnRPT</span>
                           </a>
                          </div>
                          </div>
                           <div class="col-lg-4 col-md-6 col-offset-2">
                               <div class="pdfcontainer ">
                                <a class="btn btn-light" target="_blank" href="/pdfs/codeAndPolicies/Stakeholders Relationship Committee.pdf">
                           <span>Stakeholders Relationship<br/> Committee</span>
                           </a>
                           </div>
                           </div>
                   </div>
                  
             </div>
              </div>
        </div>
    </div>
</body>
</html>