<!DOCTYPE html>
<html lang="en">
<head>
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
    crossorigin="anonymous">
     <link rel="stylesheet" href="/css/corporateGovernance.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NIKS TECHNOLOGY - CORPORATE GOVERNANCE</title>
</head>
<body>
    <div class="container-fluid">
        <div class="wrapper">
            <div class="wrap">
               
           
             <div class="info">
                 <h3>CORPORATE GOVERNANCE</h3>
                   <hr id="hr" class="mx-auto w-50 text"  style="height:3px;background: #fff;color:#fff;border:none;text-shadow:2px 2px 5px rgba(210, 56, 56, 1.0);"/>
                   <div class="row">

                        <div class="col-lg-4 col-md-6 col-offset-2">
                            <div class="pdfcontainer">
                             <a class="btn btn-light" target="_blank" href="/pdfs/corporateGovernance/Audit commitiee.pdf">
                          <span> Audit Committee</span>
                           </a>
                           </div>
                        </div>
                         <div class="col-lg-4 col-md-6 col-offset-2">
                              <div class="pdfcontainer  ">
                              <a class="btn btn-light" target="_blank" href="/pdfs/corporateGovernance/Nomination and remuneration commitiee.pdf">
                           <span>Nomination and<br/> renumeration committee</span>
                           </a>
                           </div>
                         </div>
                                                <div class="col-lg-4 col-md-6 col-offset-2">
                                                    <div class="pdfcontainer">
                           <a class="btn btn-light" target="_blank" href="/pdfs/corporateGovernance/Stakeholders relationahsip commitee.pdf">
                           <span>Stakeholders <br/>relationaship committee</span>
                           </a>
                           </div>
                       </div>      
                   </div>
                  
             </div>
              </div>
        </div>
    </div>
</body>
</html>