<!DOCTYPE html>
<html lang="en">
<head>
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
    crossorigin="anonymous">
    <link rel="stylesheet" href="/css/online.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NIKS TECHNOLOGY - ONLINE EXAMS</title>
</head>
<body>
    <div class="container-fluid">
        <div class="wrapper">
            <div class="wrap">
                
            </div>
            <div class="info">
                <h3>ONLINE EXAM</h3>
                    <hr id="hr" class="mx-auto w-50 text"  style="height:4px;background: #f4f3f2;color:#fff;border:none;text-shadow:2px 2px 5px rgba(210, 56, 56, 1.0);"/> 
                    <p>The objective of this project is To Develop a system which allows the faculty to create,
                         modify and store questions which can be grouped together to form sections and these 
                         sections can be grouped together to form tests/examinations.</p>
                </div>
                <div class="content">
                    <div class="box">
                        <h4>Online Exams</h4>
                    <ul>
                        <li>Online examination will reduce the hectic job of assessing the answers given by 
                            the candidates manually</li>
                        <li>Being an integrated Online examination system it will reduce paper work</li>
                        <li>To allow faculty to give additional time to students with disabilities.</li>
                        <li>To allow faculty to create tests and answer key.</li>
                        <li>To allow automatic grading and manual grading which can be recorded per test.</li>
                    </ul>
                    <h4>Scope & Need for the proposed System</h4>
                    <ul>
                        <li>The whole process of assigning test and evaluating their scores after the test,
                             was done.</li>
                        <li>Manually till date. Processing the test paper i.e. checking and distributing
                             respective scores</li>
                        <li>Used to take time when the software was not installed.</li>
                    </ul>
                </div>
                </div>
                <div class="third">
                    <h4 class="h4" style="text-align:center;">Literature Survey: the proposed System</h4>
                     <hr id="hr" class="mx-auto w-50 text"  style="height:4px;background: #fd746c;color:#fd746c;border:none;text-shadow:2px 2px 5px rgba(210, 56, 56, 1.0);"/> 
                    <div class="block">
                    <div class="row">
                        <div class="left col-md-6 col-offset-2">
                            <div class="box">
                                <h4>The online test created for taking online test has following features:</h4>
                                 <hr id="hr" class="mx-auto w-50 text"  style="height:2px;background: #fd746c;color:#fd746c;border:none;text-shadow:2px 2px 5px rgba(210, 56, 56, 1.0);"/> 
                                <ul>
                                    <li>In comparison to the present system the proposed system will be less 
                                        time consuming and is more efficient.</li>
                                    <li>Result will be very precise and accurate and will be declared in very
                                         short span of time because calculation and evaluations are done by the 
                                         simulator itself.</li>
                                    <li> The proposed system is very secure as no chances of leakage of question
                                         paper as it is dependent on the administrator only.</li>
                                    <li>The logs of appeared candidates and their marks are stored and can be
                                         backup for future use</li>
                                </ul>
                               
                            </div>
                        </div>
                        <div class="right col-md-6 col-offset-2">
                            <div class="box">
                                <h4>Features and Benefits:</h4>
                                 <hr id="hr" class="mx-auto w-50 text"  style="height:2px;background: #fd746c;color:#fd746c;border:none;text-shadow:2px 2px 5px rgba(210, 56, 56, 1.0);"/> 
                                <ul>
                                    <li>Physical presence at a given location is absolutely not necessary</li>
                                    <li>No time is spent on evaluation</li>
                                    <li>Results are available instantly</li>
                                    <li>Can be easily accessed 24/7 over the open test period</li>
                                    <li>Can be timed to allow Y minutes to answer X number of questions</li>
                                    <li>Easy Accessibility.</li>
                                    <li>Available at a reduced cost.</li>
                                    <li>Accuracy in checking the answer, calculating result.</li>
                                    <li>User friendly.</li>
                                    <li>Secure because of authentication.</li>
                                    <li>Online exams - Convenience, security and flexibility.</li>
                                    <li>Exams can be assembled and previewed, edited and published instantly.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                     <h4 style="text-align:center;">Basic Setup:</h4>
                      <hr id="hr" class="mx-auto w-50 text"  style="height:2px;background: #fd746c;color:#fd746c;border:none;text-shadow:2px 2px 5px rgba(210, 56, 56, 1.0);"/> 
                    <div class="row">
                        
                    <div class="col-sm-6 col-offset-2"> * Unlimited Materials entry.</div>
                    <div class="col-sm-6 col-offset-2">* Enlisted project entry.</div>
                    <div class="col-sm-6 col-offset-2"> * Ground Setup Configuration.</div>
                    <div class="col-sm-6 col-offset-2"> * Mapping of Project Location.</div>
  
                    </div>

                    </div>

                </div>
        </div>
    </div>
</body>
</html>