<!DOCTYPE html>
<html lang="en">
<head>
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
    crossorigin="anonymous">
    <link rel="stylesheet" href="/css/otherProducts.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NIKS TECHNOLOGY - OTHER PRODUCTS</title>
</head>
<body>
    <div class="container-fluid">
        <div class="content">
            <div class="box">
                <h3>Management System Softwares</h3>
                 <hr id="hr" class="mx-auto w-75 text"  style="height:4px;background: #f4f3f2;color:#fff;border:none;text-shadow:2px 2px 5px rgba(210, 56, 56, 1.0);"/>
                <p>Management software is a general phrase used to describe a category of computer software 
                    designed to help streamline the complexity of large projects and tasks as well as facilitate 
                    team collaboration and project reporting. Most management software solutions can also handle
                     resource and employee management, schedule coordination, task assignment, budgeting, time and
                      risk analysis and more. Management software is a broad term that can also apply to financial
                       management software, network management software, customer relationship management software,
                        asset management software or inventory management software.</p>
                        <p>Management software is a broad and encompassing term used to refer to any and all kinds
                             of software that are designed to manage or help manage some sort of project or task.
                              Most management software solutions also handle employee and resource management,
                               scheduling coordination and management, task assignment and time tables, risk
                                analysis and many more. The features really depend on the type of management
                                 that the software is targeting. For example, for project management, the software 
                                 has features which help manage all of the resources needed in the project
                                  including financial and people power. It allows for the clear view of tasks 
                                  and their respective statuses and due dates as well as the person assigned 
                                  to each one. Financial management software will probably have totally different
                                   features compared to a project management one, but they both fall under the
                                    broader category of management software.</p>
            </div>
        </div>
        <div class="content-2">
            <div class="row">
                <div class="col-md-6 col-offset-2">
                    <div class="block">
                        <div class="img-1"></div>
                        <h5>Pharmacy Management System</h5>
                        <p>Pharmacy Management System incorporates robotics, workflow, and pharmacy management 
                            as your complete Point of Entry to Point of Sale pharmacy solution.</p>
                    </div>
                </div>
                <div class="col-md-6 col-offset-2">
                    <div class="block">
                        <div class="img-2"></div>
                        <h5>Gym Management System</h5>
                        <p>Gym Management and database management and transactions. This system is proposed to be
                             an automate database management & transactions. This stores employee, member, and
                              payroll, receipts, and products information. It also provides the facility of search 
                              & advanced search for searching the records efficiently & immediately. This system 
                              provides data storing & report generation with graphical user interface (GUI).

</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-offset-2">
                     <div class="block">
                        <div class="img-3"></div>
                        <h5>Matrimonial Management System

</h5>
                        <p>Online Matrimonial Management System is an online web portal that enables a user to
                             find partners by choice. It is a free project in which a user needs to first register
                              by entering some details and then he will have access to choose his/her life partner
                               based on his preferences.</p>
                    </div>
                </div>
                <div class="col-md-6 col-offset-2">
                     <div class="block">
                        <div class="img-4"></div>
                        <h5>Food Ordering Management System</h5>
                        <p>Online Ordering System is a process of ordering any products like food, fashion items,
                             grocery, Vegetable and fruits, house ware from local vendors through a webpage or 
                             even by an application many of these allow customers to keep accounts with them in
                              order to make a frequent ordering.

</p>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-offset-2">
                     <div class="block">
                        <div class="img-5"></div>
                        <h5>Inventory Management System</h5>
                        <p>Inventory management software is a solution that helps businesses plan ahead by
                             leveraging the power of inventory automation technology. It also allows users
                              to prepare for radical changes in sales through its record keeping and monitoring 
                              capabilities.

</p>
                    </div>
                </div>
                <div class="col-md-6 col-offset-2">
                     <div class="block">
                        <div class="img-6"></div>
                        <h5>Saloon Management System</h5>
                        <p>A Saloon Management System is used for managing a hair saloon. This system keeps track
                             of employee salaries, inventory and customer data along with billing. This is a fully
                              equipped system that alone manages the entire functioning of a hair salon.
                               It maintains stock of inventory coming in. It also manages individual employee 
                               salary. The system is even equipped to manage customer billing and data storage.</p>
                    </div>
                </div>
            </div>
            <div class="box-1">
                <div class="block-1">
                    <div class="img-7"></div>
                    
                        <h5>Bus Reservation Management System</h5>
                        <p>Online Bus Reservation E-Ticket Booking application development for a leading 
                            luxury coach operator in Singapore to enable customers to reserve their tickets 
                            online easily & securely.
                        </p>
                        <div class="text-bus">
                        #  Easy & convenient booking<br/>
                        #  Manage reservations & seating effectively<br/>
                        #  Safe & secure payment gateway module<br/>
                        #  Detail reports for managing trips
                        </div>
                    
                </div>
            </div>
            <p class="para">We Also Provide Custom Made CRM & ERP Softwares</p>
        </div>
    </div>
</body>
</html>