<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
    crossorigin="anonymous">
    <link rel="stylesheet" href="/css/realEstate.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NIKS - REAL ESTATE MANAGEMENT SYSTEM</title>
</head>
<body>
    <div class="container-fluid">
        <div class="wrapper">
            <div class="wrap">
               
            </div>
             <div class="info">
                 <h3 class="text-sm-center">Real Estate Management System</h3>
                 <hr id="hr" class="mx-auto w-50 text"  style="height:4px;background: #f4f3f2;color:#fff;border:none;text-shadow:2px 2px 5px rgba(210, 56, 56, 1.0);"/>
                 <p class="text-sm-center">Real Estate Portal allows you to launch powerful and professional looking real estate Software with rich functionalities for the private sellers, buyers and real estate agents to list properties for sale or rent, search in the database. The private sellers can manage their ads at any time through their personal administration space.</p>
             </div>
             <div class="content">
                 <div class="cards">
                     <div class="row">
                     <div class="left col-md-6 col-offset-2">
                         <h4 class="text-sm-center">Basic Setup:</h4>
                                     <hr id="hr" class="mx-auto w-50 text"  style="height:2px;background: #fd746c;color:#fd746c;border:none;text-shadow:2px 2px 5px rgba(210, 56, 56, 1.0);"/>
                         <div class="text">
                            * Unlimited Materials entry.<br/>
                            * Enlisted project entry.<br/>
                            * Ground Setup Configuration.<br/>
                            * Mapping of Project Location
                         </div>
                     </div>
                     <div class="right col-md-6 col-offset-2">
                         <h4 class="text-sm-center">Benefits</h4>
                         <hr id="hr" class="mx-auto w-50 text"  style="height:2px;background: #fd746c;color:#fd746c;border:none;text-shadow:2px 2px 5px rgba(210, 56, 56, 1.0);"/>
                             <div class="text">
                                * It fits with your legacy systems<br/>
                                * Highly Customized product modules<br/>
                                * Highly competitive pricing<br/>
                                * 24X7 data support and backup round the clock<br/>
                                * Dynamic 3-Tier Architecture
                         </div>
                     </div>
                     </div>
                 </div>
             </div>
        </div>
    </div>
</body>
</html>