<!DOCTYPE html>
<html lang="en">
<head>
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
    crossorigin="anonymous">
    <link rel="stylesheet" href="/css/retail.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NIKS TECHNOLOGY - RETAIL POS MANAGEMENT SYSTEM</title>
</head>
<body>
    <div class="container-fluid">
        <div class="wrapper">
            <div class="wrap"></div>
            <div class="info">
                <h3 class="text-sm-center">RETAIL POS MANAGEMENT SYSTEM</h3>
                 <hr id="hr" class="mx-auto w-75 text"  style="height:4px;background: #f4f3f2;color:#fff;border:none;text-shadow:2px 2px 5px rgba(210, 56, 56, 1.0);"/>
            </div>
        </div>
        <div class="content">
            <div class="box-1"></div>
            <div class="box">
                <p class="text-sm-center">
                    A POS, or Point of Sale, system helps a store to sell to customers. It logs the number and
                     quantity of sales, while tracking your inventory and letting you know when to restock. It
                      also serves as the backbone for your entire store’s daily tasks: It can help you schedule
                       employees, track useful data, and launch new marketing campaigns.


                </p>
                <p class="text-sm-center">A POS doesn’t just help you accept cards (although it definitely should do that). The ultimate goal of any POS is to help a store cut its costs while boosting its sales. It should help you accept cash, credit, and cardless payments, plus keep your products stocked, and all of your employees well aware of the latest changes and tweaks to your store. The POS system is a combination of software, often cloud-based and offered by a vendor through a monthly subscription, and hardware. If you find the right POS for your business, it will more than pay for itself. It’ll propel your business into another level of success.

</p>
<p class="text-sm-center">Certain core POS competencies are essential for a retail POS software. A handful of additional features, 
    however, are still quite useful and can take your store to the next level. Here’s a list of the software 
    abilities that the average retailer will find the most useful.

</p>
            </div>
        </div>
        <div class="content-2">
            <div class="box">
                # <b>Sales management</b> — A POS should make for a speedy checkout process, with every transaction
                 logged down to the cent.<br/>
                # <b>Inventory management</b> — This keeps an itemized inventory that updates after each sale, and may
                 send email or text notifications to managers when an item begins running low.<br/>
                # <b>Employee management</b> — The right feature will create schedules, allow employees to log in and 
                out, and track employee performance.<br/>
                # <b>Reporting and analytics</b> — Data collection allows you to build and save reports. Once a manager
                 has enough information, trends and patterns will become clear, allowing managers to make more
                  informed opinions about everything from which items to promote to which employees sell the
                   fastest.<br/>
                # <b>Loyalty programs</b> — This feature allows you to offer discounts to returning customers or to
                 create a functioning gift card program.<br/>
                # <b>Marketing integrations</b> — Some POS software will collect email addresses, building a list
                 that can be used for marketing promotions or events in the future.
            </div>
        </div>
    </div>
</body>
</html>