<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
    crossorigin="anonymous">
    <link rel="stylesheet" href="/css/tour.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NIKS-Tour And Travel Management System</title>
</head>
<body>
    <div class="container-fluid mx-0 px-0">
        <div class="wrapper" id="wrapper">
            <div class="wrap" id="wrap"></div>
            <div class="info" id="info">
                <h1 class="text-sm-center" class="text" id="text-h1">TOUR AND TRAVEL MANAGEMENT SYSTEM</h1>
            <hr id="hr" class="mx-auto w-50 text"  style="height:4px;background: #f4f3f2;color:#fff;border:none;text-shadow:2px 2px 5px rgba(210, 56, 56, 1.0);"/>
            <p class="text-sm-center" >
                Niks TMS is a web-based end-to-end travel operation Software that comes complete with a 
                comprehensive online reservation system with mid and back office tools. With Niks TMS, travel 
                companies can sell products online, manage business, and automate working procedures to increase 
                business efficiency. Niks TMS is based on a simple principle which is to enable our customers to
                 sell everything and anything related to travel. Our core product categories include Hotel, Air,
                  Apartment, Villa, Car Hire, Bus, City Tours and Package.
            </p>
            </div>
            
            <div class="content" id="content">
                <div class="row ">
                    <div class="col-lg-6 col-offset-2 left">
                        
                        <div class="image">
                            <img src="/img/travel.png"/>
                            
                        </div>
                        <div class="benefits px-5 pt-5 pb-5">
                            <h3 class="text-sm-center mb-3 ">Benefits</h3>
                         <hr id="hr" class="mx-auto w-50 text mb-4"  style="height:3px;background: #ff9068;border:none;text-shadow:2px 2px 5px rgba(210, 56, 56, 1.0);"/>
                         <div class="text-benefits">
                            * It fits with your legacy systems<br/>
                            * Highly Customized product modules<br/>
                            * Highly competitive pricing<br/>
                            * 24X7 data support and backup round the clock<br/>
                            * Dynamic 3-Tier Architecture<br/>
                        </div>
                        </div>

                    </div>
                    <div class="col-lg-6 col-offset-2 right pb-0 mb-0 scope">
                        <h3 class="text-sm-center mt-5 ">Challenges and Opportunities</h3>
                         <hr id="hr" class="mx-auto w-50 text mb-3"  style="height:3px;background: #ff9068;border:none;text-shadow:2px 2px 5px rgba(210, 56, 56, 1.0);"/>
                        <div class="cards pt-3">
                            <div class="box">
                                
                                <div class="box-content">
                                    * Do you have access to a wide range of travel products at best possible rates?<br/>
                                    * Do you have access to the bookings from various offices, employees and agents?<br/>
                                    * Are you able to easily manage all your negotiated supplier contracts?<br/>
                                    * Are you taking advantage of all affiliate channels to make bookings and track their revenue generation?<br/>
                                    * Are you well branding and designing your website to differentiate yourself from your competition and ensure that customer finds you?<br/>
                                    * Are you able to efficiently manage the agents & corporate customers and there mark-ups on various products?<br/>
                                    * Does your reservation system enable you to sell across multiple distribution channels?<br/>
                                    * Does your data seamlessly flow from your front office to your back-office system?<br/>
                                    * Does your employee able to track and close all the generated enquires?<br/>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
     <script type="text/javascript">
        let bg = document.getElementById("wrapper")
        let wrap = document.getElementById("wrap")
        let info = document.getElementById("info")
        
        let content = document.getElementById("content")
        
        window.addEventListener('scroll', function(){
            var value=window.scrollY;
            bg.style.top=value*0.01 + 'px';
            wrap.style.top=-value*0.6 + 'px';
            info.style.top=value*0.3 + 'px';
            
            content.style.top=-value*0.5 + 'px';
            
            
        })
    </script>
</body>
</html>