<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
    crossorigin="anonymous">
    <link rel="stylesheet" href="/css/info_sec.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NIKS TECHNOLOGY- INFORMATION SECURITY SCHOOL WORKSHOP</title>
</head>
<body>
    <div class="container-fluid">
        <div class="wrapper">
            <div class="wrap"></div>
                <div class="info">
                    <h2 class="text-sm-center">Information Security Workshops</h2>
                    <hr id="hr" class="mx-auto w-50 text"  style="height:4px;background: #f4f3f2;color:#fff;border:none;text-shadow:2px 2px 5px rgba(210, 56, 56, 1.0);"/>
                    <div class="text-sm-center">In this cyber world every detail about you can be exploited by someone. It's the very basic
                         need to remain safe while surfing, downloading, sending and online transactions. This is 
                         the centre of gravity for our Information security workshop, by providing all the key
                          points to avoid getting hacked.</div>
                          <div class="text-sm-center">
                              The information security industry is one of the very few that hasn't been severely 
                              impacted by the economic downturn. Many companies in this sector have thrived in the
                               past 12 months. If you're in this line of work, you know why that is - the bad guys
                                are working even harder and the enterprises can't afford to tighten the security
                                 budget without immediate consequences.
                          </div>
                          <div class="text-sm-center">
                              IT security professionals need to arm themselves with skills that are currently in
                               demand as well as relevant for the future, according to industry watchers, who also
                                list the toughest certificates in the industry and explain why IT security
                                 professionals need to know more than just technical know-how.
                          </div>
                
            </div>
            <div class="content">
                <div class="row first">
                <div class="col-md-4 col-offset-2 card-1">
                    <div class="inner-box"></div>
                </div>
                 <div class="col-md-4 col-offset-2 card-2">
                    <div class="inner-box"></div>
                </div>
                 <div class="col-md-4 col-offset-2 card-3">
                    <div class="inner-box"></div>
                </div>
                </div>
                <div class="row bg">
                    <hr id="hr" class="mx-auto w-75 text my-5"  style="height:4px;background: #ff9068;color:#777;border:none;text-shadow:2px 2px 5px rgba(210, 56, 56, 1.0);"/>
                    <div class="col-lg-5 col-md-4 col-offset-2 box-1">
                        <div class="imgBx mt-3">

                        </div>
                    </div>
                    <div class="col-lg-7 col-md-8 col-offset-2 box-2">
                        <div class="para mt-3 pr-2">
                        <div>The scope of the problem we will face is easy illustrated with numbers. By 2015 there
                             will be 15 billion devices communicating over the Internet and this will include 
                             rising fragmented workforces and a sea of mobile workers using social networking 
                             and collaborative technologies to do their work. With all the security troubles 
                             both organizations and end users are experiencing right now, you can only imagine
                              how many threats will emerge in the next few years.</div>
                              <div>
                                  This workshop is specifically designed to provide the right knowledge to the
                                   aspiring Hacking and Cyber Security enthusiasts. This workshop will explore the 
                                   various means that an intruder has, to gain access to computer resources. It
                                    will investigate weaknesses by discussing the theoretical background behind,
                                     and whenever possible, actually performing the attack.
                              </div>
                              <div>
                                  The duration of this workshop will be two consecutive days with eight hours 
                                  session each day, in a total of sixteen hours properly divided into theory and 
                                  hand on practical sessions. At the end of this workshop a competition will be
                                   organized among the participating students where each participating student 
                                   will get Certificate of Participation and the Winners will get Certificate of
                                    Merit.
                              </div>
                    </div>
                    </div>
                    <hr id="hr" class="mx-auto w-75 text my-5"  style="height:4px;background: #ff9068;color:#777;border:none;text-shadow:2px 2px 5px rgba(210, 56, 56, 1.0);"/>
                </div>
                <div class="row last ">
                    <div class="col-lg-6 col-md-6 col-offset-2 workshop pl-5">
                        <h3 class="text-sm-center mt-5 mb-4">Workshop Highlights</h3>
                         <hr id="hr" class="mx-auto w-50 text mb-5"  style="height:3px;background: #ff9068;border:none;text-shadow:2px 2px 5px rgba(210, 56, 56, 1.0);"/>
                         <div class="text-highlights">
                                * Importance of Cyber Security in Our Daily Life<br/>
                                * Data Security & Hide Techniques<br/>
                                * Spyware, Keylogger & Virus Security<br/>
                                * Internet Surfing & Download Security<br/>
                                * Email Security & Social Networking Website  <br/>   
                                * Security- Phishing Attacks<br/>
                                * Browser Privacy & Security<br/>
                                * Experienced Faculty<br/>
                                * Live projects<br/>
                         </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-offset-2 pr-5 attractions">
                        <h3 class="text-sm-center mt-5 mb-4">Attractions</h3>
                         <hr id="hr" class="mx-auto w-50 text mb-5"  style="height:3px;background: #ff9068;border:none;text-shadow:2px 2px 5px rgba(210, 56, 56, 1.0);"/>
                         <div class="text-attractions">
                            * Certificate of Participation to all Zonal participants<br/>
                            * Certificate of Merit to all Zonal Winners<br/>
                            * Straight Entry into Final Round of National Level Robotics Championship<br/>
                            * Chance to represent yourself in IIT (Indian Institute of Technology)<br/>
                            * Enhance your Knowledge through various Live Projects<br/>
                            * Attractive On Spot Cash Prizes for all Final Round Winners<br/>
                         </div>
                    </div>
                    <div class="text-sm-center thanks w-75 "><p>Thank You!!!</p></div>
                </div>
               
            </div>
             
        </div>
    </div>
</body>
</html>