<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
    crossorigin="anonymous">
    <link rel="stylesheet" href="/css/app.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/fontawesome.min.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NIKS Services-App Development</title>
</head>
<body>
    <div class="container-fluid mx-0 px-0">
        <div class="wrapper" id="wrapper">
            <div class="content" id="content">
                    <div class="info">
                        <h2 class="text-sm-center pt-5 pb-4">Android App Development</h2>
                        <hr class="mx-auto w-50"  style="height:2px;background: #f4f3f2;border:none;text-shadow:2px 2px 5px rgba(210, 56, 56, 1.0);"/>
                        <p class="text-sm-center px-3">Whether you’re a startup founder selling a digital service, 
                            or an established enterprise struggling to increase efficiency, mobile app development 
                            deserves discussion as a strategic priority. Mobile is becoming the preferred method of 
                            discovering, consuming, and sharing information, and only an exceptional user 
                            experience will put your business in a position to profit.</p>
                    <p class="text-sm-center px-3 pb-3" style="display:block;">
                        With the upsurge of Android phones and tablets, Android apps development is undeniably the 
                        most popular mobile operating system. It works on the Linux kernel. It uses Java 
                        programming language with Android software development kit along with other development 
                        platforms. The development tool includes libraries, debugger, documentation, tutorials, 
                        sample code and the handset emulator. It anchors background processing and enriches the 
                        user experience with its user friendly library functions. There are 4 stages of Android 
                        apps development including as followings:
                    </p>
                    </div>
                    <div class="info-cards mb-3">
                    <div class="row mx-0 px-0 pb-2">
                        <div class="col-sm-6 col-offset-2 pb-2 text-sm-center " style="padding-left:5%;padding-right:5%">
                            <div class="card w-100  pt-2 card-1">Applications</div>
                        </div>
                        <div class="col-sm-6 col-offset-2 pb-2 text-sm-center" style="padding-left:5%;padding-right:5%">
                            <div class="card w-100 pt-2 card-1">Framework</div>
                        </div>
                    </div>
                    <div class="row mx-0 pb-4">
                        <div class="col-sm-6 col-offset-2 pt-2 text-sm-center" style="padding-left:5%;padding-right:5%">
                            <div class="card w-100 pb-2 card-1">Libraries and Execution time</div>
                            
                        </div>
                        <div class="col-sm-6 col-offset-2  pt-2 text-sm-center" style="padding-left:5%;padding-right:5%">
                             <div class="card w-100 pb-2  card-1">Linux Kernel</div>
                        </div>
                    </div>
                    </div>
                    <div class="tools mt-5 ">
                        <h3 class="text-sm-center pt-5 pb-4" id="tools-heading">Android Development Tools</h3>
                        <hr class="mx-auto w-50"  style="height:2px;background: #f4f3f2;border:none;text-shadow:2px 2px 5px rgba(210, 56, 56, 1.0);"/>
                        <div class="row">
                        <div class="col-sm-4 col-offset-2">
                            <div class="cards">
                            <div class="box">
                                <div class="box-content">
                                    <h2>01</h2>
                                    <h3>Android SDK </h3>
                                    <p>
                                     It consists of tools to build, assemble and package the android applications.   
                                    </p>
                                </div>
                            </div>
                        </div>
                        </div>
                        <div class="col-sm-4 col-offset-2">
                        <div class="cards ">
                            <div class="box">
                                <div class="box-content">
                                    <h2>02</h2>
                                    <h3>Android Debug Bridge </h3>
                                    <p>
                                      It gives the access to link to a virtual android device.
                                    </p>
                                </div>
                            </div>
                        </div>
                        </div>
                        <div class="col-sm-4 col-offset-2">
                        <div class="cards">
                            <div class="box">
                                <div class="box-content">
                                    <h2>03</h2>
                                    <h3>Gradle and the Android plug-in</h3>
                                    <p>
                                     The tool consists of Gradle.
                                    </p>
                                </div>
                            </div>
                        </div>
                        </div>
                        </div>
                    </div>
                    <div class="low mx-0 px-0">
                        <h3 class="text-sm-center pt-3 pb-4">Low Investment & High ROI</h3>
                    <hr class="mx-auto w-50"  style="height: 0.1em;background: #777;border:none;"/>
                    <p class="text-sm-center">Android in contrast to IOS has a low cost to invest. Android ensures freedom with its 
                        Software Development Kit (SDK) which mitigates the development along with licensing costs. 
                        The development expenditure can be categorized under:</p>
                        <div class="row low-cards mx-0 px-0">
                            <div class="col-sm-4 col-offset-2">
                                <div class="low-cards-box ">
                                    <div class="low-cards-box-content text-sm-center card px-2">
                                        Application development
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4 col-offset-2">
                                <div class="low-cards-box ">
                                    <div class="low-cards-box-content text-sm-center card px-2">
                                        Testing
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-4 col-offset-2">
                                <div class="low-cards-box ">
                                    <div class="low-cards-box-content text-sm-center card px-2">
                                        Hardware testing cost
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="open-source mt-4 pt-4">
                        <h4 class="text-sm-center">Open Source</h4>
                        <hr class="mx-auto w-50"  style="height:2px;background: #f4f3f2;border:none;text-shadow:2px 2px 5px rgba(210, 56, 56, 1.0);"/>
                        <p class="text-sm-center">It is one of the most impeccable standard of framework technology. For any update or 
                            upgradtions ,its open community allows great interactivity regarding the android mobile 
                            app development.</p>
                    </div>
                    <div class="integrate mt-4 pt-4 pb-4">
                        <h4 class="text-sm-center">Easy To Integrate</h4>
                        <hr class="mx-auto w-50"  style="height: 0.1em;background: #777;border:none;"/>
                        <p class="text-sm-center">Android apps development ensure a great advantage of flexibility.
                             Android is undoubtedly the most leading mobile platforms for application and a defined
                            architecture. The background processes ensure effective integration with the apps.</p>
                    </div>
                    <div class="easy mt-4 pt-4">
                        <h4 class="text-sm-center">Easy Adoption</h4>
                        <hr class="mx-auto w-50"  style="height:2px;background: #f4f3f2;border:none;text-shadow:2px 2px 5px rgba(210, 56, 56, 1.0);"/>
                        <p class="text-sm-center">Android applications are written in Java language and are enriched
                             with libraries. With easy implementation, it is convenient to develop applications in 
                             the Android OS. It is now very useful for Java developers to change the coded script 
                             into a mobile application for easier implementation of android application development
                              services in the app.</p>
                    </div>
                    <div class="work mt-4 pt-4 pb-4">
                        <h4 class="text-sm-center">Our Work Flow</h4>
                        <hr class="mx-auto w-50"  style="height: 0.1em;background: #777;border:none;"/>
                        <div class="row pt-4 mt-4 pb-5">
                            <div class="col-sm-3 col-offset-2 text-sm-center">
                                <h6 class="text-sm-center">Discover</h6>
                                <hr class="w-50" style="height: 0.05em;background: #777;border:none;">
                                <p class="text-sm-center">Our team of business analysts and consultants can 
                                    determine growth opportunities.</p>
                            </div>
                            <div class="col-sm-3 col-offset-2 text-sm-center">
                                
                                <h6 class="text-sm-center">Design </h6>
                                <hr class="w-50" style="height: 0.05em;background: #777;border:none;">
                                <p class="text-sm-center">Our designers bring you a proposal based on our analysis
                                     and your demands.</p>
                            </div>
                            <div class="col-sm-3 col-offset-2 text-sm-center">
                                <h6 class="text-sm-center">Develop </h6>
                                <hr class="w-50" style="height: 0.05em;background: #777;border:none;">
                                <p class="text-sm-center">Our mobile app developers create and test
                                     your mobile application.</p>
                            </div>
                            <div class="col-sm-3 col-offset-2 text-sm-center">
                                <h6 class="text-sm-center">Maintain</h6>
                                <hr class="w-50" style="height: 0.05em;background: #777;border:none;">
                                <p class="text-sm-center">Intellectsoft helps you maintain, update, and improve 
                                    your application as your business grows.</p>
                            </div>
                        </div>
                    </div>
            </div>
        </div>
    </div>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
<script src="/js/scroll-speed.js"></script>
</body>
</html>