<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
    crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
    <link rel="stylesheet" href="/css/services.css">
    <meta charset="UTF-8">
    
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NIKS Services-Cyber Security</title>
</head>
<body >
   <!-- <div class="container-fluid mr-0 px-2">
        <div class="services-container mr-0 ">
            <div class="cyber-security slide services row mr-0 animate__animated animate__fadeInDown py-3 " id="cyber-security-container">
                <div class="cyber-security-written col-sm-7 col-sm-offset-2 pt-4 my-5" style="background-color: rgb(249, 240, 255);" >
                <h2 class="title text-sm-center text-info ">Cyber Security Services</h2>
                <hr class="bg-dark" />
                <p class="text-justify " style="font-size:1.2rem">
                    Cyber security systems and principles are designed to safeguard websites and web applications 
                    from attackers seeking to disrupt, delay, alter or redirect the flow of data. These attackers 
                    vary in target, motive, levels of organization, and technical capabilities, requiring public 
                    and private organizations to adopt ever-increasing measures to prevent cyber attacks.
                    The risk of your network being compromised or ‘hacked’ by the presence of malware or by 
                    individuals within or outside of your organisation is growing and the technical defence 
                    mechanisms relied upon over the last twenty years are no longer sufficient.We are experts at 
                    driving out cyber security vulnerabilities and improving the resilience of your infrastructure.
                    We have been in the forefront of providing penetration testing services to clients based 
                    around the world – offering not only exceptional technical expertise but outstanding client services. 
                    These include website, application and infrastructure assessments, hardening UNIX and Windows systems, 
                    code reviews, wireless security assessments and social engineering.
                </p>
            </div>
            <div class="cyber-security-image rounded  col-sm-5 col-sm-offset-2 pr-0 mr-0 pt-5 text-sm-center " style="  overflow:hidden;background-image:url('/img/cyberS.jpg');background-size:cover;height:95vh;">
            <button class="btn btn-light w-50" style="margin-top:230px;border-radius:59px; " id="other-services">Other Services</button>
            </div>

            </div>
          <div class="other-services services row mr-0  py-3 " id="other-services-container" >
                
            
            <div class="cyber-security-written col-sm-7 col-sm-offset-2 pt-4 my-5 text-sm-center" style="background-color: rgb(249, 240, 255);" >
                <h2 class="title text-sm-center text-info ">Services Offered</h2>
                <hr class="bg-dark mb-5" />
                <div class="pt-5">
                <button class="btn btn-info w-50 mb-2" style="border-radius:59px;">Cyber Security</button>
                <button class="btn btn-info w-50 mb-2" style="border-radius:59px;">Website Development</button>
                <button class="btn btn-info w-50 mb-2" style="border-radius:59px;">Android App Development</button>
                <button class="btn btn-info w-50 mb-2" style="border-radius:59px;">Software Development</button>
                <button class="btn btn-info w-50 mb-2" style="border-radius:59px;">Digital Marketing</button>
                </div>
            </div>
            <div class="cyber-security-image rounded  col-sm-5 col-sm-offset-2 pr-0 mr-0 pt-5 text-sm-center " style=" overflow:hidden;background-image:url('/img/cyberS.jpg');background-size:cover;height:95vh;">
            <button class="btn btn-light w-50" style="margin-top:230px;border-radius:59px; " id="cyber-security">Cyber Security</button>
            </div>
            </div>
            <div class="services row mr-0 py-3 px-5 ">
                <h3 class="mx-auto text-info" style="font-style:oblique">Our Spectrum Of Cyber Securities</h3>
                
            </div>
            <center><hr class="bg-dark px-5 mx-5 w-50 pt-0 mt-0" /></center>
             <div class="services row mr-0 py-3 px-5" id="first-row-image">
                 <div class="card-img py-1 my-1 pr-5 mr-5 col-sm-5 col-sm-offset-2" style="z-index:5">
                    <img src="/img/petera.jpg" style="width:60%;box-shadow:5px 5px 2.5px grey;">
                </div>
                <div class="card-img py-1 my-1 pl-5 ml-4 col-sm-5 col-sm-offset-2" style="z-index:5">
                    <img src="/img/security.png" style="width:60%;box-shadow:5px 5px 2.5px grey;">
                </div>
             </div>
            <div class="services row mr-0 py-3 px-5" id="first-row-title">
                
                <div class="card col-sm-5 col-sm-offset-2 px-5 mx-5 " style="background-color:#fff;height:12rem;box-shadow:10px 10px 5px rgba(252, 56, 56, 0.2);z-index:1">
                    <div  class=" heading" ><b>Penetration Testing</b></div>
                    <p class="description ">Penetration testing is a method of evaluating the security of 
                        various computer systems, networks and applications. We are passionate about our 
                        penetration testing service</p>
                </div>
                
                <div class="card col-sm-5 col-sm-offset-2 px-5 mx-5" style="background-color:#fff;z-index:1;height:12rem;box-shadow:10px 10px 5px rgba(252, 56, 56, 0.2)">
                     <div  class=" heading" ><b>Vulnerability Assessment</b></div>
                    <p class="description ">With both network and web application components, Niks ' vulnerability 
                        assessment services can identify critical system weaknesses in your organization. Payment 
                        Card Industry (PCI) compliance scanning also available.</p>
                </div>
            </div>
            <div class="services row mr-0 py-3 px-5" id="second-row-image">
                 <div class="card-img py-1 my-1 pr-5 mr-5 col-sm-5 col-sm-offset-2" style="z-index:5">
                    <img src="/img/phishing.jpg" style="width:60%;box-shadow:5px 5px 2.5px grey;">
                </div>
                <div class="card-img py-1 my-1 pl-5 ml-4 col-sm-5 col-sm-offset-2" style="z-index:5">
                    <img src="/img/mobile.jpg" style="width:60%;box-shadow:5px 5px 2.5px grey;">
                </div>
             </div>
            <div class="services row mr-0 py-3 px-5 wow fadeInRight" id="second-row-title">
                <div class="card col-sm-5 col-sm-offset-2 px-5 mx-5  " data-wow-delay="0.6s" style="background-color:#fff;z-index:1;height:12rem;box-shadow:10px 10px 5px rgba(252, 56, 56, 0.2)">
                    <div  class=" heading" ><b>Phishing Assessments</b></div>
                    <p class="description ">Phishing is an online fraud technique. Phishing attacks by criminals 
                        are designed to entice you to disclose personal information in the belief that you have 
                        clicked through to a trusted site.</p>
                </div>
                <div class="card col-sm-5 col-sm-offset-2 px-5 mx-5" style="background-color:#fff;z-index:1;height:12rem;box-shadow:10px 10px 5px rgba(252, 56, 56, 0.2)">
                    <div  class=" heading" ><b>Mobile App & Device Security</b></div>
                    <p class="description ">We specialise in performing security assessments of mobile applications
                         in iOS and Android environments. These operating systems on tablets and smart phones cover 
                         the vast majority of the mobile.</p>
                </div>
            </div>
            <div class="services row mr-0 py-3 px-5" id="third-row-image">
                 <div class="card-img py-1 my-1 pr-5 mr-5 col-sm-5 col-sm-offset-2" style="z-index:5">
                    <img src="/img/consult.jpg" style="width:60%;box-shadow:5px 5px 2.5px grey;">
                </div>
                <div class="card-img py-1 my-1 pl-5 ml-4 col-sm-5 col-sm-offset-2" style="z-index:5">
                    <img src="/img/seminar.jpg" style="width:60%;box-shadow:5px 5px 2.5px grey;">
                </div>
             </div>
            <div class="services row mr-0 py-3 px-5 " id="third-row-title">
                <div class="card col-sm-5 col-sm-offset-2 px-5 mx-5" style="background-color:#fff;z-index:1;height:12rem;box-shadow:10px 10px 5px rgba(252, 56, 56, 0.2)">
                    <div  class=" heading" ><b>Consulting</b></div>
                    <p class="description ">Niks Technology offers a variety of consulting services to help your organization start
                         secure and stay secure including phishing exercises, web application penetration 
                         testing, and more.</p>
                </div>
                <div class="card col-sm-5 col-sm-offset-2 px-5 mx-5 " style="background-color:#fff;z-index:1;height:12rem;box-shadow:10px 10px 5px rgba(252, 56, 56, 0.2)">
                    <div  class=" heading" ><b>Seminars</b></div>
                    <p class="description ">Niks Technology offers seminars covering a range of topics, including 
                        cybersecurity fundamentals and strategies to minimize cyber risk.</p>
                </div>
                </div>
            </div>
        </div>
    </div>-->

    <div class="container-fluid">
        <div class="wrapper">
            <div class="wrap">
                <div class="info"><h1>CYBER SECURITY SERVICES</h1></div>
            </div>
            <div class="content">
                <div class="box">
                <p>Cyber security systems and principles are designed to safeguard websites and web applications
                     from attackers seeking to disrupt, delay, alter or redirect the flow of data. These attackers
                      vary in target, motive, levels of organization, and technical capabilities, requiring public 
                      and private organizations to adopt ever-increasing measures to prevent cyber attacks.</p>
                      <p>
                          The risk of your network being compromised or ‘hacked’ by the presence of malware or
                           by individuals within or outside of your organisation is growing and the technical
                            defence mechanisms relied upon over the last twenty years are no longer sufficient.
                      </p>
                      <p>
                          We are experts at driving out cyber security vulnerabilities and improving the resilience
                           of your infrastructure. We have been in the forefront of providing penetration testing
                            services to clients based around the world – offering not only exceptional technical 
                            expertise but outstanding client services. These include website, application and 
                            infrastructure assessments, hardening UNIX and Windows systems, code reviews, wireless
                             security assessments and social engineering.
                      </p>
            </div>
           
                <h4>Our Spectrum Of Cyber Security Services Include :</h4>
                 <hr id="hr" class="mx-auto w-50 text"  style="height:4px;background: #ff9068;;color:#ff9068;;border:none;text-shadow:2px 2px 5px rgba(210, 56, 56, 1.0);"/>
                  
                <div class="row">
                    <div class="col-md-6 col-offset-2">
                        <div class="box-1">
                        <div class="img-1"></div>
                        <h5>Penetration Testing</h5>
                        <p>
                            Penetration testing is a method of evaluating the security of various computer systems,
                             networks and applications. We are passionate about our penetration testing service.
                        </p>
                    </div>
                    </div>
                     <div class="col-md-6 col-offset-2">
                         <div class="box-1">
                         <div class="img-2"></div>
                        <h5>Vulnerability Assessment</h5>
                        <p>With both network and web application components, Niks ' vulnerability assessment
                             services can identify critical system weaknesses in your organization. Payment Card
                              Industry (PCI) compliance scanning also available.</p>
                    </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-offset-2">
                        <div class="box-1">
                        <div class="img-3"></div>
                        <h5>Phishing Assessments</h5>
                        <p>Phishing is an online fraud technique. Phishing attacks by criminals are designed to
                             entice you to disclose personal information in the belief that you have clicked 
                             through to a trusted site.</p>
                    </div>
                    </div>
                     <div class="col-md-6 col-offset-2">
                         <div class="box-1">
                         <div class="img-4"></div>
                        <h5>Mobile App & Device Security</h5>
                        <p>We specialise in performing security assessments of mobile applications in iOS and
                             Android environments. These operating systems on tablets and smart phones cover
                              the vast majority of the mobile</p>
                    </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-offset-2">
                        <div class="box-1">
                        <div class="img-5"></div>
                            <h5>Consulting</h5>
                            <p>Niks Technology offers a variety of consulting services to help your organization
                                 start secure and stay secure including phishing exercises, web application
                                  penetration testing, and more.</p>
                    </div>
                    </div>
                     <div class="col-md-6 col-offset-2">
                         <div class="box-1">
                         <div class="img-6"></div>
                        <h5>Seminars</h5>
                        <p>Niks Technology offers seminars covering a range of topics, including cybersecurity
                             fundamentals and strategies to minimize cyber risk.</p>
                    </div>
                    </div>
                </div>
            </div>
        </div>
    </div>






















    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdn.boomcdn.com/libs/wow-js/1.3.0/wow.min.js"></script>
    {{!-- <script src="https://cdn.boomcdn.com/libs/wow-js/1.1.2/wow.min.js"></script> --}}
    <script
      src="https://kit.fontawesome.com/64d58efce2.js"
      crossorigin="anonymous"
    ></script>
    
    <script src="/js/card-transition.js"></script>
    
    <script src="/js/slide.js" type="text/javascript" charset="utf-8" ></script>
    
</body>
</html>





