<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
    crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
    <link rel="stylesheet" href="/css/website.css"/>
   <!-- <link rel="stylesheet" href="/css/popup.css">-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.15.3/css/fontawesome.min.css"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NIKS Services-Website Development</title>
</head>
<body >
 <!--   <div class="container px-0 mx-0 mt-3 pt-2 " id="container" tabindex="0">
        <div class="image py-5 my-5 animate__animated animate__fadeInUp" style="background-image:url('/img/web.png');overflow:hidden;background-size:cover;height:80vh;width:100%">
        <i class="fas fa-arrow-left " id="arrow" type="button" onclick="openForm()"></i>
        </div>
        <div class="right-div py-5 my-5 " id="right-div">
            <h3 class="text-secondary" style="font-style:oblique;position:absolute; padding-left:35%">Services Offered</h3>
            <div class="inner-div">
                
        
            <button class="btn btn-info w-75 mb-2 " style="border-radius:59px;">Cyber Security</button>
                <button class="btn btn-info w-75 mb-2" style="border-radius:59px;">Website Development</button>
                <button class="btn btn-info w-75 mb-2" style="border-radius:59px;">Android App Development</button>
                <button class="btn btn-info w-75 mb-2" style="border-radius:59px;">Software Development</button>
                <button class="btn btn-info w-75 mb-5" style="border-radius:59px;">Digital Marketing</button>
               <center> <button type="button" class="btn btn-danger w-25" onclick="closeForm()" style="border-radius:48px;">Close</button></center>
                </div>
        </div>
        <div class="rest-content" >
            <h3 class=" text-sm-center">Website Development</h3>
            <center><hr class="bg-dark mx-auto px-5 w-50"/></center>
            <br/>
            <p class=" text-sm-justify px-5 mx-5">Website Development refers to making a website for Internet as well Intranet, website can be 
                simple one or a complex one. It gives you an idea about what exactly the company deals with. 
                A website could be interactive or non-interactive website. There are many leading organizations 
                which develop website for a particular company.</p>
                <p class=" text-sm-justify px-5 mx-5">Website development is basically optimal for publicizing a company, a website should have a 
                proper content on it so that a reader could know about the company. For any website you 
                required a Content Management System so that you could develop a plan for it.</p>
                <br/><br/>
            <h3 class=" text-sm-center">Six Features Of Well-Built Website</h3>
            <center><hr class="bg-dark mx-auto px-5 w-50"/></center>
            <br/>
            <p class="text-sm-center"><b>1.  Quality Web Content.</b></p>
            <p class=" text-sm-center"><b>2.  Clear, User-friendly Navigation.</b></p>
            <p class=" text-sm-center"><b>3.  Simple and Professional Web Design.</b></p>
            <p class=" text-sm-center"><b>4.  Webpage Speed.</b></p>
            <p class=" text-sm-center"><b>5.  Search Engine Optimizations.</b></p>
            <p class=" text-sm-center"><b>6.  Web Compatibility.</b></p>
            <br/><br/>
            <h3 class=" text-sm-center">Key Benefits Of A Website For Your Business</h3>
            <center><hr class="bg-dark mx-auto px-5 w-50"/></center>
            <br/><br/>
            <div class="row">
                <div class="card col-sm-5 col-sm-offset-2 pr-5 mx-5 left-card mb-3" style="background-color:#fff;z-index:1;height:14rem;box-shadow:10px 10px 5px rgba(252, 56, 56, 0.2)">
                    <div  class=" heading text-sm-center" ><b>Builds Creditability.</b></div>
                    <p class="description ">Just by simply being online, your small business will gain 
                        creditability. Think about when you’re looking for a specific item; you have a quick 
                        google search and find a website that’s competitive and has great reviews. That being 
                        said, you need to make sure you stay current, look professional and come up in search 
                        engines otherwise you’ll lose that status in no-time.</p>
                </div>
                <div class="card col-sm-5 col-sm-offset-2 pr-5 mx-5 right-card mb-3" style="background-color:#fff;z-index:1;height:14rem;box-shadow:10px 10px 5px rgba(252, 56, 56, 0.2)">
                    <div  class=" heading text-sm-center" ><b>Simple to Set Up</b></div>
                   
                    <p class="description ">Many small business owners spend hours trying to build their own rookie
                         site because they don’t want to splash the cash. Building and maintaining a website is 
                         easier than ever before with a online website builder, you can have a proficient and 
                         speedy network set up in hours. You don’t need to rely on anyone to update it for you; 
                         you can use their expert database at any time to keep your site intact.</p>
                </div>
            </div> 

            <div class="row">
                <div class="card col-sm-5 col-sm-offset-2 pr-5 mx-5 left-card mb-3" style="background-color:#fff;z-index:1;height:14rem;box-shadow:10px 10px 5px rgba(252, 56, 56, 0.2)">
                    <div  class=" heading text-sm-center" ><b>Cuts Costs</b></div>
                    <p class="description ">Having an online business can cut the cost of staff, shop rent, tax 
                        and utility bills. You can liaise directly with the consumer and arrange the delivery 
                        for a fraction of the price. On the other hand, if you’re a larger company and have an 
                        internal forum you can interact with your staff members eliminating the need for endless
                         meetings and large travel bills.</p>
                </div>
                <div class="card col-sm-5 col-sm-offset-2 pr-5 mx-5 right-card mb-3" style="background-color:#fff;z-index:1;height:14rem;box-shadow:10px 10px 5px rgba(252, 56, 56, 0.2)">
                    <div  class=" heading text-sm-center" ><b>Improves Customer Service</b></div>
                   
                    <p class="description ">It’s a known fact that having a web presence will help you improve
                         your customer service. If you’re a store owner and have staff-members, you can’t oversee
                          them 24/7 to observe how they are interacting with clients. In the online world, however,
                           nothing stays secret; you can monitor your staff’s work and ensure your customers are 
                           receiving a speedy and helpful reply.</p>
                </div>
            </div>


            <div class="row">
                <div class="card col-sm-5 col-sm-offset-2 pr-5 mx-5 left-card mb-3" style="background-color:#fff;z-index:1;height:14rem;box-shadow:10px 10px 5px rgba(252, 56, 56, 0.2)">
                    <div  class=" heading text-sm-center" ><b>Makes Your Business Accessible at All Times</b></div>
                    <p class="description ">A website is available to you and your customers 24/7, 365 days a year.
                         If they are awake at 1 am and are thinking of purchasing something from you, they can click
                          on your site and do this instantaneously –a win-win situation for all. Having an online 
                          presence also provides them with the convenience of reviewing your products and services
                           when your store or office is closed.</p>
                </div>
                <div class="card col-sm-5 col-sm-offset-2 pr-5 mx-5 right-card mb-3" style="background-color:#fff;z-index:1;height:14rem;box-shadow:10px 10px 5px rgba(252, 56, 56, 0.2)">
                    <div  class=" heading text-sm-center" ><b>Targets Larger Markets</b></div>
                   
                    <p class="description ">Whether you provide products or services, an online website is an 
                        alternative location to sell them. You can reach clients that are in another town or 
                        country just by simply having a web presence. With our busy lifestyles we are reverting 
                        to browsing online – gone are the days where hours are spent in physical shops checking
                         out products. A website can promote your products 100 times faster than a store-front,
                          window display.</p>
                </div>
            </div>


            <div class="row">
                <div class="card col-sm-5 col-sm-offset-2 pr-5 mx-5 left-card mb-3" style="background-color:#fff;z-index:1;height:14rem;box-shadow:10px 10px 5px rgba(252, 56, 56, 0.2)">
                    <div  class=" heading text-sm-center" ><b> A Medium to Showcase Your Work</b></div>
                    <p class="description ">No matter what type of industry you’re in; a website is a great 
                        way to showcase your work. You can do this through an online portfolio, image gallery
                         and customer reviews. You can demonstrate why your business is unique and offer 
                         feedback about your work. Take eBay for example – most shoppers base their opinion
                          on the seller after reading recent testimonials.</p>
                </div>
                <div class="card col-sm-5 col-sm-offset-2 pr-5 mx-5 right-card mb-3" style="background-color:#fff;z-index:1;height:14rem;box-shadow:10px 10px 5px rgba(252, 56, 56, 0.2)">
                    <div  class=" heading text-sm-center" ><b> A Time-Saver</b></div>
                   
                    <p class="description ">It’s a great time-saver for the customer and yourself – 
                        you don’t have to lug products to and from your warehouse to a store and
                         the client doesn’t need to walk around aimlessly looking through racks
                          or shelves for their desired purchase. “Studies show that once a 
                          consumer has an idea of what they need or want, they start researching,
                        and 72 percent of them go online to find educational material, reviews,
                        and testimonials” according to a recent buyer journey report.</p>
                </div>
            </div>

             <div class="row">
                <div class="card col-sm-5 col-sm-offset-2 pr-5 mx-5 left-card mb-3" style="background-color:#fff;z-index:1;height:14rem;box-shadow:10px 10px 5px rgba(252, 56, 56, 0.2)">
                    <div  class=" heading text-sm-center" ><b> Allows You to Stay Current</b></div>
                    <p class="description ">A web presence is a great platform to help you stay 
                        up-to-date; you can update your information and add or remove items at
                         the click of a button (faster than you would be able to in real-life). 
                         Whether it’s breaking news or the latest trend, if you’re swift, you 
                         can beat your competition and release it first.</p>
                </div>
                <div class="card col-sm-5 col-sm-offset-2 pr-5 mx-5 right-card mb-3" style="background-color:#fff;z-index:1;height:14rem;box-shadow:10px 10px 5px rgba(252, 56, 56, 0.2)">
                    <div  class=" heading text-sm-center" ><b> Helps You Beat the Competition</b></div>
                   
                    <p class="description ">Following on from the previous benefit, a 
                        well-marketed site can help you can gain market share at the
                         expense of your competition. In order to do this, you need a
                          great website that offers users a unique experience.</p>
                </div>
            </div>

            <div class="row">
                <div class="card col-sm-5 col-sm-offset-2 pr-5 mx-5 left-card mb-3" style="background-color:#fff;z-index:1;height:14rem;box-shadow:10px 10px 5px rgba(252, 56, 56, 0.2)">
                    <div  class=" heading text-sm-center" ><b>Gives You an Online Presence</b></div>
                    <p class="description ">A 2018 study performed by Verisign reported that “84% consumers believe that small 
                        businesses with websites are more credible than ones without an online presence. It also concluded that 
                        65% of consumers consider a company branded email to be more credible than a generic email account such as 
                        Gmail, Outlook.com, AOL, or Yahoo mail.” In today’s technical world, you need to have a strong digital brand - 
                        as well as a site; you’ll need social media profiles to connect with your users on another platform.</p>
                </div>
                <div class="card col-sm-5 col-sm-offset-2 pr-5 mx-5 right-card mb-3" style="background-color:#fff;z-index:1;height:14rem;box-shadow:10px 10px 5px rgba(252, 56, 56, 0.2)">
                    <div  class=" heading text-sm-center" ><b>Interaction With Your Customers</b></div>
                   
                    <p class="description ">Another reason for you to move your business online is that you’re able to interact
                         with your customers whenever and from wherever. This could be through news updates, live chat, email 
                         conversations or comments on your page. You’ll be available to offer your expert advice and prove 
                         your creditability at any given moment.</p>
                </div>
            </div>

            <div class="row">
                <div class="card col-sm-5 col-sm-offset-2 pr-5 mx-5 left-card mb-3" style="background-color:#fff;z-index:1;height:14rem;box-shadow:10px 10px 5px rgba(252, 56, 56, 0.2)">
                    <div  class=" heading text-sm-center" ><b>You Can Create Return Business</b></div>
                    <p class="description ">Anyone can easily lose a plumber’s business card or forget the name that their neighbour 
                        recommended. However, if you have a website, they can easily store you in their favourites and return to your 
                        site whenever they need information or your services.” According to webdezign: “The use of interactive media,
                         helpful information, questions & answers and forum software can maintain a high level of dialogue and thus 
                         help in securing customer loyalty.”</p>
                </div>
                <div class="card col-sm-5 col-sm-offset-2 pr-5 mx-5 right-card mb-3" style="background-color:#fff;z-index:1;height:14rem;box-shadow:10px 10px 5px rgba(252, 56, 56, 0.2)">
                    <div  class=" heading text-sm-center" ><b>A Great Marketing Channel</b></div>
                   
                    <p class="description ">By simply having a website, you can market your service and reach thousands of people. 
                        By staying up to date with the latest digital marketing trends, you can push your page and climb search 
                        engine results. The Guardian commented that: “It's a crowded and highly competitive field, with small 
                        companies fighting tooth and nail to attract the attention of would-be customers. At the risk of stating 
                        the obvious, a quality website is essential if you want your business to punch above its weight.”</p>
                </div>
            </div>


            <div class="row">
                <div class="card col-sm-5 col-sm-offset-2 pr-5 mx-5 left-card mb-3" style="background-color:#fff;z-index:1;height:14rem;box-shadow:10px 10px 5px rgba(252, 56, 56, 0.2)">
                    <div  class=" heading text-sm-center" ><b>Build a Readership</b></div>
                    <p class="description ">Publishing news, content and information on new products and services will help
                         you to attract a keen audience. Through email marketing, you can reach out to your clients and
                          offer them discounts and exclusive access that new consumers wouldn’t have.</p>
                </div>
                
            </div>

            <br/><br/>
            <h3 class=" text-sm-center">Our Spectrum Of Website Development Services Include</h3>
            <center><hr class="bg-dark mx-auto px-5 w-50"/></center>
            <br/>
            <p class=" text-sm-center"><i class="fa fa-check-square"></i> Website Design</p>
            <p class=" text-sm-center"><i class="fa fa-check-square"></i> Responsive Website Design</p>
            <p class="text-sm-center"><i class="fa fa-check-square"></i> PHP Design & Application Development</p>
            <p class=" text-sm-center"><i class="fa fa-check-square"></i>  Ecommerce Web Design</p>
            <p class=" text-sm-center"><i class="fa fa-check-square"></i> Website Redesigning</p>
            <p class="text-sm-center"><i class="fa fa-check-square"></i> Custom Web Designing</p>
            <p class="text-sm-center"><i class="fa fa-check-square"></i> SEO Friendly Web Designing</p>
            <p class=" text-sm-center"><i class="fa fa-check-square"></i> Website Hosting</p>
            <p class=" text-sm-center"><i class="fa fa-check-square"></i> Website Support and Maintenance</p>
            <p class="text-sm-center"><i class="fa fa-check-square"></i> Complete Satisfactory Solutions</p>
            <br/><br/>

            </div>
    </div>
-->

<div class="container-fluid">
    <div class="wrapper">
        <div class="wrap">
            <div class="info">
                <h1>WEBSITE DEVELOPMENT</h1>
            </div>
        </div>
        <div class="content">
            <div class="row" id="row-1">
                <div class="col-md-6 col-offset-2">
                    <div class="block">
                        <h4>Website Development</h4>
                         <hr id="hr" class="mx-auto w-50 text"  style="height:4px;background: #ff9068;;color:#ff9068;;border:none;text-shadow:2px 2px 5px rgba(210, 56, 56, 1.0);"/>
                  
                        <p>Website Development refers to making a website for Internet as well Intranet, website
                             can be simple one or a complex one. It gives you an idea about what exactly the
                              company deals with. A website could be interactive or non-interactive website.
                               There are many leading organizations which develop website for a particular
                                company.</p>
                        <p>
                            Website development is basically optimal for publicizing a company, a website should 
                            have a proper content on it so that a reader could know about the company. For any
                             website you required a Content Management System so that you could develop a plan
                              for it.
                        </p>
                    </div>
                </div>
                <div class="col-md-6 col-offset-2">
                    <div class="block">
                        <h4>Six Features Of Well-Built Website :</h4>
                         <hr id="hr" class="mx-auto w-50 text"  style="height:4px;background: #ff9068;;color:#ff9068;;border:none;text-shadow:2px 2px 5px rgba(210, 56, 56, 1.0);"/>
                  
                        <div class="text-el">
                            * Quality Web Content.<br/>
                            * Clear, User-friendly Navigation.<br/>
                            * Simple and Professional Web Design.<br/>
                            * Webpage Speed.<br/>
                            * Search Engine Optimizations.<br/>
                            * Web Compatibility.
                        </div>
                    </div>
                </div>
            </div>
            <h4>Key Benefits Of A Website For Your Business:</h4>
             <hr id="hr" class="mx-auto w-50 text"  style="height:4px;background: #ff9068;;color:#ff9068;;border:none;text-shadow:2px 2px 5px rgba(210, 56, 56, 1.0);"/>
                  
            <div class="row">
                <div class="col-md-6 col-offset-2">
                    <div class="box">
                        <h5>Builds Creditability.</h5>
                        <p>Just by simply being online, your small business will gain creditability. Think about 
                            when you’re looking for a specific item; you have a quick google search and find a 
                            website that’s competitive and has great reviews. That being said, you need to make
                             sure you stay current, look professional and come up in search engines otherwise 
                             you’ll lose that status in no-time.</p>
                    </div>
                </div>
                <div class="col-md-6 col-offset-2">
                    <div class="box">
                        <h5>Simple to Set Up</h5>
                        <p>Many small business owners spend hours trying to build their own rookie site because
                             they don’t want to splash the cash. Building and maintaining a website is easier
                              than ever before with a online website builder, you can have a proficient and 
                              speedy network set up in hours. You don’t need to rely on anyone to update it 
                              for you; you can use their expert database at any time to keep your site intact.</p>
                    </div>
                </div>
            </div>
             <div class="row">
                <div class="col-md-6 col-offset-2">
                    <div class="box">
                        <h5>Cuts Costs</h5>
                        <p>Having an online business can cut the cost of staff, shop rent, tax and utility bills. 
                            You can liaise directly with the consumer and arrange the delivery for a fraction of
                             the price. On the other hand, if you’re a larger company and have an internal forum
                              you can interact with your staff members eliminating the need for endless meetings
                               and large travel bills.</p>
                    </div>
                </div>
                <div class="col-md-6 col-offset-2">
                    <div class="box">
                        <h5> Improves Customer Service</h5>
                        <p>It’s a known fact that having a web presence will help you improve your customer service.
                             If you’re a store owner and have staff-members, you can’t oversee them 24/7 to observe
                              how they are interacting with clients. In the online world, however, nothing stays 
                              secret; you can monitor your staff’s work and ensure your customers are receiving 
                              a speedy and helpful reply.</p>
                    </div>
                </div>
            </div>
             <div class="row">
                <div class="col-md-6 col-offset-2">
                    <div class="box">
                        <h5>Makes Your Business Accessible at All Times</h5>
                        <p>A website is available to you and your customers 24/7, 365 days a year. If they are 
                            awake at 1 am and are thinking of purchasing something from you, they can click on 
                            your site and do this instantaneously –a win-win situation for all. Having an online
                             presence also provides them with the convenience of reviewing your products and 
                             services when your store or office is closed.</p>
                    </div>
                </div>
                <div class="col-md-6 col-offset-2">
                    <div class="box">
                        <h5>Targets Larger Markets</h5>
                        <p>Whether you provide products or services, an online website is an alternative location
                             to sell them. You can reach clients that are in another town or country just by simply
                              having a web presence. With our busy lifestyles we are reverting to browsing 
                              online – gone are the days where hours are spent in physical shops checking out 
                              products. A website can promote your products 100 times faster than a store-front, 
                              window display.</p>
                    </div>
                </div>
            </div>
             <div class="row">
                <div class="col-md-6 col-offset-2">
                    <div class="box">
                        <h5>A Medium to Showcase Your Work</h5>
                        <p>No matter what type of industry you’re in; a website is a great way to showcase your
                             work. You can do this through an online portfolio, image gallery and customer reviews.
                              You can demonstrate why your business is unique and offer feedback about your work. 
                              Take eBay for example – most shoppers base their opinion on the seller after
                               reading recent testimonials.</p>
                    </div>
                </div>
                <div class="col-md-6 col-offset-2">
                    <div class="box">
                        <h5>A Time-Saver</h5>
                        <p>It’s a great time-saver for the customer and yourself – you don’t have to lug products
                             to and from your warehouse to a store and the client doesn’t need to walk around
                              aimlessly looking through racks or shelves for their desired purchase. “Studies
                               show that once a consumer has an idea of what they need or want, they start
                                researching, and 72 percent of them go online to find educational material,
                                 reviews, and testimonials” according to a recent buyer journey report.</p>
                    </div>
                </div>
            </div>
             <div class="row">
                <div class="col-md-6 col-offset-2">
                    <div class="box">
                        <h5>Allows You to Stay Current</h5>
                        <p>A web presence is a great platform to help you stay up-to-date; you can update your
                             information and add or remove items at the click of a button (faster than you would
                              be able to in real-life). Whether it’s breaking news or the latest trend, if you’re
                               swift, you can beat your competition and release it first.</p>
                    </div>
                </div>
                <div class="col-md-6 col-offset-2">
                    <div class="box">
                        <h5>Helps You Beat the Competition</h5>
                        <p>Following on from the previous benefit, a well-marketed site can help you can gain
                             market share at the expense of your competition. In order to do this, you need a
                              great website that offers users a unique experience.</p>
                    </div>
                </div>
            </div>
             <div class="row">
                <div class="col-md-6 col-offset-2">
                    <div class="box">
                        <h5>Gives You an Online Presence</h5>
                        <p>A 2018 study performed by Verisign reported that “84% consumers believe that small
                             businesses with websites are more credible than ones without an online presence.
                              It also concluded that 65% of consumers consider a company branded email to be 
                              more credible than a generic email account such as Gmail, Outlook.com, AOL, or
                               Yahoo mail.” In today’s technical world, you need to have a strong digital brand 
                               - as well as a site; you’ll need social media profiles to connect with your users 
                               on another platform.</p>
                    </div>
                </div>
                <div class="col-md-6 col-offset-2">
                    <div class="box">
                        <h5>Interaction With Your Customers</h5>
                        <p>Another reason for you to move your business online is that you’re able to interact 
                            with your customers whenever and from wherever. This could be through news updates, 
                            live chat, email conversations or comments on your page. You’ll be available to offer
                             your expert advice and prove your creditability at any given moment.</p>
                    </div>
                </div>
            </div>
             <div class="row">
                <div class="col-md-6 col-offset-2">
                    <div class="box">
                        <h5>You Can Create Return Business</h5>
                        <p>Anyone can easily lose a plumber’s business card or forget the name that their neighbour
                             recommended. However, if you have a website, they can easily store you in their 
                             favourites and return to your site whenever they need information or your services.” 
                             According to webdezign: “The use of interactive media, helpful information, questions
                              & answers and forum software can maintain a high level of dialogue and thus help in
                               securing customer loyalty.”</p>
                    </div>
                </div>
                <div class="col-md-6 col-offset-2">
                    <div class="box">
                        <h5>A Great Marketing Channel</h5>
                        <p>By simply having a website, you can market your service and reach thousands of people.
                             By staying up to date with the latest digital marketing trends, you can push your 
                             page and climb search engine results. The Guardian commented that: “It's a crowded
                              and highly competitive field, with small companies fighting tooth and nail to attract
                               the attention of would-be customers. At the risk of stating the obvious, a 
                               quality website is essential if you want your business to punch above its
                                weight.”</p>
                    </div>
                </div>
            </div>
            <div class="box-1">
                <h5>Build a Readership</h5>
                
                <p>Publishing news, content and information on new products and services will help you to attract
                     a keen audience. Through email marketing, you can reach out to your clients and offer them
                      discounts and exclusive access that new consumers wouldn’t have.</p>
            </div>
            <h4 id="head">Our Spectrum Of Website Development Services Include :</h4>
            <hr id="hr" class="mx-auto w-50 text"  style="height:4px;background: #ff9068;;color:#ff9068;;border:none;text-shadow:2px 2px 5px rgba(210, 56, 56, 1.0);"/>
              <div class="text-element">
                   * Website Design<br/>
                    * Responsive Website Design<br/>
                    * PHP Design & Application Development<br/>
                    * Ecommerce Web Design<br/>
                    * Website Redesigning<br/>
                    * Custom Web Designing<br/>
                    * SEO Friendly Web Designing<br/>
                    * Website Hosting<br/>
                    * Website Support and Maintenance<br/>
                    * Complete Satisfactory Solutions
              </div>
        </div>


    </div>
</div>






















    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
      <script src="/js/popup.js" type="text/javascript"></script>
      <script
      src="https://kit.fontawesome.com/64d58efce2.js"
      crossorigin="anonymous"
    ></script>
   <!-- <script src="/js/web-dev-animation.js"></script>-->
    
</body>
</html>