<!DOCTYPE html>
<html lang="en">
<head>
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
    crossorigin="anonymous">
    <link rel="stylesheet" href="/css/courses/android.css">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <!-- <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css"> -->
    <link rel="stylesheet" href="/css/style.css" >
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NIKS TECHNOLOGY COURSES - ANDROID</title>
</head>
<body>
    {{>header}}
    <div class="container-fluid">
        <div class="wrapper">
            <div class="content">
                <h3>Android Development</h3>
                <h4>Introduction</h4>
                <p>Android was built from the ground-up to enable developers to create compelling mobile
                     applications that take full advantage of all a handset has to offer. It was built to be
                      truly open. For example, an application can call upon any of the phone’s core functionality 
                      such as making calls, sending text messages, or using the camera, allowing developers to
                       create richer and more cohesive experiences for users. Android is built on the open Linux
                        Kernel. Furthermore, it utilizes a custom virtual machine that was designed to optimize
                         memory and hardware resources in a mobile environment. Android is open source; it
                          can be liberally extended to incorporate new cutting edge technologies as they emerge.
                           The platform will continue to evolve as the developer community works together to
                            build innovative mobile applications.

</p>
            <h5>INTRODUCTION TO ANDROID</h5>
            <div class="text-el">
                * Hello Android<br/>
                * Setting Up Your Development Environment<br/>
                * Understanding Android Resources<br/>
                * Understanding Intents<br/>
                * Building User Interfaces and Using Controls
            </div>
            <h5>ANDROID PROGRAMMING</h5>
            <div class="text-el">
                * Working with Menus<br/>
                * Working with Dialogs<br/>
                * Working with Preferences and Saving State<br/>
                * Exploring Security and Permissions<br/>
                * Exploring Packages<br/>
                * Broadcast Receivers and Long-Running Services<br/>
                * Exploring the Alarm Manager<br/>
                * Exploring Maps and Location-based Services<br/>
                * Using the Telephony APIs<br/>
                * Understanding the Media Frameworks<br/>
                * Home Screen Widgets<br/>
                * Touch Screens<br/>
                * Using Sensors<br/>
                * Exploring the Contacts API<br/>
                * Deploying Your Application: Android Market and Beyond
            </div>
            </div>
        </div>
    </div>
    {{>footer}}
</body>
</html>