<!DOCTYPE html>
<html lang="en">
<head>
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
    crossorigin="anonymous">
    <link rel="stylesheet" href="/css/courses/c.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NIKS TECHNOLOGY COURSES - C AND CPP</title>
</head>
<body>
    <div class="container-fluid">
        <div class="wrapper">
            <div class="content">
                <h4>Summer / Winter Industrial Training And Internship Program At Niks Technology Patna</h4>
                  <hr id="hr" class="mx-auto w-50 text"  style="height:3px;background: #ff9068;;color:#ff9068;;border:none;text-shadow:2px 2px 5px rgba(210, 56, 56, 1.0);"/>
               <div class="row">
                   <div class="col-md-6 col-offset-2">
                       <div class="box-1">
                           <h5><b>C</b> Course Structure - Module Topics</h5>
                           <div class="text-el">
                                1. Absolute basics<br/>
                                2. Languages: natural and artificial<br/>
                                3. Machine languages<br/>
                                4. High-level programming languages<br/>
                                5. Obtaining the machine code: compilation process<br/>
                                6. Recommended readings<br/>
                                7. Your first program<br/>
                                8. Variable – why?<br/>
                                9. Integer values in real life and in “C”, integer literals<br/>
                                10. Data types<br/>
                                11. Arrays<br/>
                                12. Functions<br/>
                                13. Files and streams<br/>
                                14. FILE structure

                           </div>
                       </div>
                   </div>
                   <div class="col-md-6 col-offset-2">
                       <div class="box-1">
                           <h5>
                               <b>C++</b> Course Structure - Module Topics
                           </h5>
                           <div class="text-el">
                                1. What is C++?<br/>
                                2. Why C++?<br/>
                                3. C and C++<br/>
                                4. Exception Handling<br/>
                                5. Object Oriented Programming<br/>
                                6. Standard Template Library<br/>
                                7. Types and declarations<br/>
                                8. Pointers, Arrays and Structures<br/>
                                9. Expressions and Statements<br/>
                                10. Functions<br/>
                                11. Namespaces and Exceptions<br/>
                                12. Source Files and Programs<br/>
                                13. Classes<br/>
                                14. Operator overloading<br/>
                                15. Derived class<br/>
                                16. Conclusion
                           </div>
                       </div>
                   </div>
               </div>
            </div>
        </div>
    </div>
</body>
</html>