<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
    crossorigin="anonymous">
    <link rel="stylesheet" href="/css/courses/digital_marketing.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NIKS TECHNOLOGY COURSES - DIGITAL MARKETING</title>
</head>
<body>
    <div class="container-fluid">
        <div class="wrapper">
            <div class="content">
                <h3>Digital Marketing</h3>
                <h4>Introduction</h4>
                <p>Digital marketing is a broad term that refers to various and different promotional 
                    techniques deployed to reach customers via digital technologies.</p>
                <p>Digital marketing is embodied by an extensive selection of service, product and 
                    brand marketing tactics, which mainly use the Internet as a core promotional 
                    medium, in addition to mobile and traditional TV and radio.</p>
                <p>Digital marketing is also known as Internet marketing, but their actual processes differ,
                     as digital marketing is considered more targeted, measurable and interactive.</p>
                <p>Digital marketing includes a raft of Internet marketing techniques, such as search 
                    engine optimization (SEO), search engine marketing (SEM) and link building. It also 
                    extends to non-Internet channels that provide digital media, such as short messaging
                     service (SMS), multimedia messaging service (MMS), callback and on-hold mobile ring 
                     tones, Ebooks, optical disks and games.</p>
                <p>A key digital marketing objective is engaging customers and allowing them to interact with 
                    the brand through servicing and delivery of digital media. This is achieved by designing 
                    digital media in such a way that it requires some type of end user action to view or receive 
                    the motive behind that media's creation. For example, to receive a free e-book, a customer 
                    might be required to register or fill out a form, benefiting the advertiser with a valuable 
                    customer or lead.</p>
                <div class="row">
                    <div class="col-md-6 col-offset-2">
                        <h5>COURSE CONTENT LEVEL I</h5>
                        <div class="text-el">
                            Unit 1: Introduction<br/>
                            Unit 2: What is analysis ?<br/>
                            Unit 3: Analysis vs Intuition<br/>
                            Unit 4: Web Analytics<br/>
                            Unit 5: Google Analytics<br/>
                            Unit 6: Direct, referring, and search traffic<br/>
                            Unit 7: Page Rank<br/>
                            Unit 8: Meta Data<br/>
                            Unit 9: Campaigns,AdWords, Adsense<br/>
                            Unit 10: Pages and Landing Pages<br/>
                            Unit 11: Event Tracking and AdSense,Site Search<br/>
                            Unit 12: Goal & Ecommerce
                        </div>
                    </div>

                    <div class="col-md-6 col-offset-2">
                        <h5>COURSE CONTENT LEVEL II</h5>
                        <div class="text-el">
                            Unit 1: Social CRM & Analytics<br/>
                            Unit 2: Web analytics tools<br/>
                            Unit 3: Social media analytics<br/>
                            Unit 4: Online Marketing<br/>
                            Unit 5: Email Marketing<br/>
                            Unit 6: Integrated Marketing Communications (IMC)<br/>
                            Unit 7: Search Engine Marketing (SEM)<br/>
                            Unit 8: Search Engine Optimization (SEO)
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>