<!DOCTYPE html>
<html lang="en">
<head>
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
    crossorigin="anonymous">
    <link rel="stylesheet" href="/css/courses/iot.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NIKS TECHNOLOGY COURSES - INTERNET OF THINGS(IOT)</title>
</head>
<body>
    <div class="container-fluid">
        <div class="wrapper">
            <div class="content">
                <h3>IOT (Internet Of Things)</h3>
                <h4>What Is IOT (Internet Of Things)?</h4>
                <p>IOT is the best technology that supports the connecting devices as the industrial equipment 
                    onto the network. It allows the information gathering and also the management of the devices 
                    through the software in which it allows the increment of the efficiency.</p>
                <h4>Why To Prefer IOT (Internet Of Things)?</h4>
                <p>IOT is considered as the next big thing in the IT industry. This helps to take the students to 
                    the smart world. It helps in the creation of the new smart world. A Huge advantage is added 
                    for the candidates by preferring this IOT Training in Patna. Professionals, End Users, 
                    Graduates, Freshers, Analysts, Administrators can prefer this course.</p>
                <h4>MODULE I</h4>
                <div class="text-el">
                    * Internet of Things - Overview<br/>
                    * Internet of Things - Hardware<br/>
                    * Internet of Things - Software<br/>
                    * IoT - Technology & Protocols<br/>
                    * Internet of Things - Common Uses<br/>
                    * Introduction to IoT: Part I, Part II, Sensing, Actuation, Basics of Networking: Part-I<br/>
                    * Basics of Networking: Part-II, Part III, Part IV, Communication Protocols: Part I, Part II<br/>
                    * Communication Protocols: Part III, Part IV, Part V, Sensor Networks: Part I, Part II<br/>
                    * Sensor Networks: Part III, Part IV, Part V, Part VI, Machine-to-Machine Communications<br/>
                    * Interoperability in IoT, Introduction to Arduino Programming: Part I, Part II, Integration of Sensors and Actuators with Arduino: Part I, Part II<br/>
                    * Introduction to Python programming: Part I, Part II, Introduction to Raspberry Pi: Part I, Part II, Implementation of IoT with Raspberry Pi: Part I<br/>
                    * Implementation of IoT with Raspberry Pi: Part II, Part III, Introduction to SDN: Part I, Part II, SDN for IoT: Part I<br/>
                    * SDN for IoT: Part II, Data Handling and Analytics: Part I, Part II, Cloud Computing: Part I, Part II<br/>
                    * Cloud Computing: Part III, Part IV, Part V, Sensor-Cloud: Part I, Part II<br/>
                    * Fog Computing: Part I, Part II, Smart Cities and Smart Homes: Part I, Part II, Part III<br/>
                    * Connected Vehicles: Part I, Part II, Smart Grid: Part 1, Part II, Industrial IoT: Part I<br/>
                    * Industrial IoT: Part I, Case Study: Agriculture, Healthcare, Activity Monitoring: Part I, Part II<br/>
                    * IoT - CISCO Virtualized Packet Zone<br/>
                    * IoT - Salesforce<br/>
                    * IoT - GE Predix<br/>
                    * IoT - Eclipse<br/>
                    * IoT - Contiki<br/>
                    * IoT - Security<br/>
                    * IoT - Identity Protection<br/>
                    * IoT - Liability
                </div>

            </div>
        </div>
    </div>
</body>
</html>