<!DOCTYPE html>
<html lang="en">
<head>
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
    crossorigin="anonymous">
    <link rel="stylesheet" href="/css/courses/linux_shell.css">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <!-- <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css"> -->
    <link rel="stylesheet" href="/css/style.css" >
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NIKS TECHNOLOGY COURSES - LINUX SHELL SCRIPTING</title>
</head>
<body>
    {{>nav}}
    <div class="container-fluid">
        <div class="wrapper">
            <div class="content">
                <h3>LINUX SHELL SCRIPT</h3>
                <h4>Introduction</h4>
                <p>Shell scripts are short programs that are written in a shell programming language and
                     interpreted by a shell process. They are extremely useful for automating tasks on Linux 
                     and other Unix-like operating systems</p>
                <p>A shell is a program that provides the traditional, text-only user interface for Unix-like 
                    operating systems. Its primary function is to read commands (i.e., instructions) that are 
                    typed into a console (i.e., an all-text display mode) or terminal window (i.e., all-text 
                    mode window) and then execute (i.e., run) them. The default shell on Linux is the very 
                    commonly used and highly versatile bash.</p>
                <p>A programming language is a precise, artificial language that is used to write computer 
                    programs, which are sets of instructions that can be automatically translated 
                    (i.e., interpreted or compiled) into a form (i.e., machine language) that is directly
                     understandable by a computer's central processing unit (CPU).</p>
                <p>A feature of bash and other shells used on Unix-like operating systems is that each contains 
                    a built-in programming language, referred to as a shell programming language or shell 
                    scripting language, which is used to create shell scripts. Among the advantages of using 
                    shell scripts are that they can be very easy to create and that a large number are already 
                    available in books and on the Internet for use with or without modification for a wide variety 
                    of tasks. Shell scripts are also employed extensively in the default installations of 
                    Unix-like operating systems.</p>

                <div class="row">
                    <div class="col-md-6 col-offset-2">
                        <div class="box-1">
                            <h5>COURSE CONTENT LEVEL I</h5>
                            <div class="text-el">
                                Unit 1: Introduction Linux Shell Script<br/>
                                Unit 2: Linux Shell Script Fundamental<br/>
                                Unit 3: Environment<br/>
                                Unit 4: Writing script & executing basic script<br/>
                                Unit 5: Variables (default variables),expressions<br/>
                                Unit 6: Conditional statements,Logical operators-AND,OR,NOT<br/>
                                Unit 7: Loops(While,Do While,For,Until,Break & continue)<br/>
                                Unit 8: Command line arguments<br/>
                                Unit 9: Functions & file manipulations<br/>
                                Unit 10: Regular Expression & Filters
                            </div>
                        </div>
                    </div>

                     <div class="col-md-6 col-offset-2">
                        <div class="box-1">
                            <h5>COURSE CONTENT LEVEL II</h5>
                            <div class="text-el">
                                Unit 1: Adv. Scripting Techniques(Shell & subshells,Arrays )<br/>
                                Unit 2: Dialog boxes<br/>
                                Unit 3: Remote Shell execution<br/>
                                Unit 4: Connecting to MySQL using shell<br/>
                                Unit 5: Running SQL queries from a shell script<br/>
                                Unit 6: Essential System Administration jobs<br/>
                                Unit 7: Managing disk space/file system<br/>
                                Unit 8: Startup-Shutdown scripts<br/>
                                Unit 9: Backup-cpio-tar<br/>
                                Unit 10: Monitoring , health check
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    {{>footer}}
</body>
</html>