<!DOCTYPE html>
<html lang="en">
<head>
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
    crossorigin="anonymous">
    <link rel="stylesheet" href="/css/courses/net.css">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <!-- <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css"> -->
    <link rel="stylesheet" href="/css/style.css" >
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NIKS TECHNOLOGY COURSES - .NET DEVELOPMENT</title>
</head>
<body>
    {{>nav}}
    <div class="container-fluid">
        <div class="wrapper">
            <div class="content">
                <h3>.NET</h3>
                <h4>Introduction</h4>
                <p>Visual Basic .NET (VB.NET) - VB.Net is a Microsoft object-oriented programming (OOP) language.
                     It evolved from Visual Basic 6 (VB6) to meet an increasing need for easy Desktop Application,
                      web-services-in-patna and web development. VB.Net was designed to take advantage
                       of the .NET framework-based classes and run-time environment. It was re-engineered
                        by Microsoft as part of its .NET product group.VB.NET supports abstraction, 
                        inheritance, and polymorphism.The most substantial VB6 to VB.NET modification 
                        is OOP, which allows for class and object creation and increased code reusability.
                         Many new controls were added to streamline program development. VB.NET also 
                         supports multithreading andWeb development services, such as Web forms and 
                         services. VB.NET’s data handling is represented and exchanged via XML-based
                          ADO.NET, which allows for efficient and easy handling of large amounts of
                           data via the Web.</p>
                <p>
                     C# (pronounced "C-sharp") - C# is an object-oriented programming language from Microsoft
                      that aims to combine the computing power of C++ with the programming ease of Visual Basic.
                       C# is based on C++ and contains features similar to those of Java. C# is designed to
                        work with Microsoft's .Net platform. Microsoft's aim is to facilitate the exchange of
                         information and services over the Web, and to enable developers to build highly
                          portable applications. C# simplifies programming through its use of Extensible 
                          Markup Language (XML) and Simple Object Access Protocol (SOAP) which allow
                           access to a programming object or method without requiring the programmer
                            to write additional code for each step. Because programmers can build on
                             existing code, rather than repeatedly duplicating it, C# is expected to
                              make it faster and less expensive to get new products and services to market.
                </p>
               <div class="box-1">
                   <h5>Introduction To .NET Programming</h5>
                   <div class="text-el">
                        * Net Concepts<br/>
                        * Framework<br/>
                        * Common Language Runtime<br/>
                        * Base Class Library<br/>
                        * Common Type System (CTS)<br/>
                        * Intermediate Language<br/>
                        * Assemblies<br/>
                        * Namespaces
                   </div>
               </div>
               <div class="row">
                   <div class="col-md-6 col-offset-2">
                       <div class="box-1">
                           <h5>Programming With C#</h5>
                           <div class="text-el">
                                * Variables<br/>
                                * Comments<br/>
                                * XML Documentation<br/>
                                * Constants<br/>
                                * Keywords<br/>
                                * DataTypes<br/>
                                * Reference Types<br/>
                                * Control Statements<br/>
                                * Conditional Statements<br/>
                                * Switch Statement<br/>
                                * Loops<br/>
                                * Jump Statements,Goto<br/>
                                * break<br/>
                                * Continue<br/>
                                * Return<br/>
                                * Arrays
                           </div>
                       </div>
                   </div>

                     <div class="col-md-6 col-offset-2">
                       <div class="box-1">
                           <h5>Programming With VB.NET</h5>
                           <div class="text-el">
                                * Variables<br/>
                                * Comments<br/>
                                * Constants<br/>
                                * Keywords<br/>
                                * DataTypes<br/>
                                * Control Statements<br/>
                                * Conditional Statements<br/>
                                * Switch Statement<br/>
                                * Loops<br/>
                                * Jump Statements,Goto<br/>
                                * break<br/>
                                * Continue<br/>
                                * Return<br/>
                                * Arrays<br/>
                                * Option Explicit,Option Strict<br/>

                           </div>
                       </div>
                   </div>

                    <div class="col-md-6 col-offset-2">
                       <div class="box-1">
                           <h5>
                               Object Oriented Programming (OOP)
                           </h5>
                           <div class="text-el">
                                * Class<br/>
                                * Object<br/>
                                * Encapsulation<br/>
                                * Inheritance<br/>
                                * Polymorphism<br/>
                                * Abstract Class and Function<br/>
                                * Interface<br/>
                                * Constructors
                           </div>
                       </div>
                   </div>

                   <div class="col-md-6 col-offset-2">
                       <div class="box-1">
                           <h5>Developing Windows Forms Applications</h5>
                           <div class="text-el">
                                * Standard Controls - Windows Application<br/>
                                * Event Handlers<br/>
                                * Custom Controls,MDI Forms,Dialog Forms<br/>
                                * Data Structures and Data Access Components<br/>
                                * Data Binding,Data Access using XML<br/>
                                * Security<br/>
                                * Deployment<br/>
                                * .NET Framework 3.0-NET Framework 4.5
                           </div>
                       </div>
                   </div>

               </div>
            </div>
        </div>
    </div>
{{>footer}}
</body>
</html>