<!DOCTYPE html>
<html lang="en">
<head>
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
    crossorigin="anonymous">
    <link rel="stylesheet" href="/css/courses/robotics.css">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <!-- <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css"> -->
    <link rel="stylesheet" href="/css/style.css" >
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NIKS TECHNOLOGY COURSES - ROBOTICS</title>
</head>
<body>
    {{>nav}}
    <div class="container-fluid">
        <div class="wrapper">
            <div class="content">
                <h3>Embedded System & Robotics</h3>
                <h4>Introduction </h4>
                <p>The course involves making of a robot from scratch. During the workshop you will 
                    be exposed to programming in 8051 Microcontroller, PIC microcontroller & Embedded Linux.
                     At the end of the Training you would have constructed your own robot. The Training clears
                      concepts related to embedded systems, artificial intelligence, robotics and automation.
                       The Training is a flagship workshop of Appin. Students interested to make their career
                        in Robotics or Embedded Technologies always join the type of training.
                </p>

                <h4>COURSE CONTENT: Level I</h4>
                <h5>MODULE: INTRODUCTION TO EMBEDDED SYSTEMS</h5>
                <div class="row">
                    <div class="col-md-6 col-lg-4 col-offset-2">
                        <div class="box-1">
                            <div class="text-el">
                                Unit 1: Embedded Systems Overview
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-4 col-offset-2">
                        <div class="box-1">
                            <div class="text-el">
                                Unit 2: Embedded Systems Designs
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-lg-4 col-offset-2">
                        <div class="box-1">
                            <div class="text-el">
                                Unit 3: Basic Machine Concepts
                            </div>
                        </div>
                    </div>





                </div>

                <h5>MODULE: DIGITAL ELECTRONICS</h5>
                <div class="row">
                    <div class="col-md-6 col-lg-4 col-offset-2">
                        <div class="box-1">
                            <div class="text-el">
                                Unit 1: Number systems and code conversions
                            </div>
                        </div>
                    </div>

                     <div class="col-md-6 col-lg-4 col-offset-2">
                        <div class="box-1">
                            <div class="text-el">
                                Unit 2: Laws of Boolen Algebra
                            </div>
                        </div>
                    </div>

                     <div class="col-md-6 col-lg-4 col-offset-2">
                        <div class="box-1">
                            <div class="text-el">
                                Unit 3: K-Map
                            </div>
                        </div>
                    </div>

                     <div class="col-md-6 col-lg-4 col-offset-2">
                        <div class="box-1">
                            <div class="text-el">
                                Unit 4: Circuits
                            </div>
                        </div>
                    </div>

                     <div class="col-md-6 col-lg-4 col-offset-2">
                        <div class="box-1">
                            <div class="text-el">
                                Unit 5: Latches and Flip-Flops
                            </div>
                        </div>
                    </div>

                     <div class="col-md-6 col-lg-4 col-offset-2">
                        <div class="box-1">
                            <div class="text-el">
                                Unit 6: All about Counters
                            </div>
                        </div>
                    </div>

                     <div class="col-md-6 col-lg-4 col-offset-2">
                        <div class="box-1">
                            <div class="text-el">
                                Unit 7: Memory Devices
                            </div>
                        </div>
                    </div>

                     <div class="col-md-6 col-lg-4 col-offset-2">
                        <div class="box-1">
                            <div class="text-el">
                                Unit 8: Encoding Systems and Logic Arrays
                            </div>
                        </div>
                    </div>




                </div>

                <h5>MODULE: 8051-INTRODUCTION TO MICROCONTROLLERS</h5>
                <div class="row">

                    <div class="col-lg-4 col-md-6 col-offset-2">
                        <div class="box-1">
                            <div class="text-el">
                                Unit 1: Design Philosophies
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-offset-2">
                        <div class="box-1">
                            <div class="text-el">
                                Unit 2: Applications of a Microcontroller
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-offset-2">
                        <div class="box-1">
                            <div class="text-el">
                                Unit 3: Microcontroller 8051
                            </div>
                        </div>
                    </div>



                </div>

                <h5>MODULE: EMBEDDED ROBOTICS</h5>
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-offset-2">
                        <div class="box-1">
                            <div class="text-el">
                                Unit 1: Robotics
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-offset-2">
                        <div class="box-1">
                            <div class="text-el">Unit 2: Applications of Robotics
                            </div>
                        </div>
                    </div>


                </div>

                <h4>COURSE CONTENT: Level II</h4>
                <h5>MODULE: EMBEDDED SYSTEMS WITH C</h5>
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-offset-2">
                        <div class="box-1">
                            <div class="text-el">
                                Unit 1 : C and Data Structure
                            </div>
                        </div>
                    </div>

                     <div class="col-lg-4 col-md-6 col-offset-2">
                        <div class="box-1">
                            <div class="text-el">
                                Unit 2 : Embedded C
                            </div>
                        </div>
                    </div>

                </div>
                <h5>MODULE: AVR</h5>
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-offset-2">
                        <div class="box-1">
                            <div class="text-el">
                                Unit 1: AVR
                            </div>
                        </div>
                    </div>

                     <div class="col-lg-4 col-md-6 col-offset-2">
                        <div class="box-1">
                            <div class="text-el">
                                Unit 2: Hardware Description of AVR
                            </div>
                        </div>
                    </div>

                      <div class="col-lg-4 col-md-6 col-offset-2">
                        <div class="box-1">
                            <div class="text-el">
                                Unit 3: AVR on Chip
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-offset-2">
                        <div class="box-1">
                            <div class="text-el">
                                Unit 4: Mobile Forensics
                            </div>
                        </div>
                    </div>

                    


                </div>


                <h5>MODULE: PRACTICAL APPLICATION USING MICROCONTROLLERS</h5>
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-offset-2">
                        <div class="box-1">
                            <div class="text-el">
                                Unit 1: Introduction: Interfacing Components using Microcontrolles
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-offset-2">
                        <div class="box-1">
                            <div class="text-el">
                                Unit 2: Overview of Embedded C
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-offset-2">
                        <div class="box-1">
                            <div class="text-el">
                                Unit 3: LEDs
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-offset-2">
                        <div class="box-1">
                            <div class="text-el">
                                Unit 4: Interfacing of Seven Segment Display
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-offset-2">
                        <div class="box-1">
                            <div class="text-el">
                                Unit 5: Interfacing of Matrix Display
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-4 col-md-6 col-offset-2">
                        <div class="box-1">
                            <div class="text-el">
                                Unit 6: Interfacing of Keypad
                            </div>
                        </div>
                    </div>

                </div>


                <h4>COURSE CONTENT: Level III</h4>
                <h5>MODULE: PIC</h5>
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-offset-2">
                        <div class="box-1">
                            <div class="text-el">
                                Unit 1: PIC Microcontrollers
                            </div>
                        </div>
                    </div>

                     <div class="col-lg-4 col-md-6 col-offset-2">
                        <div class="box-1">
                            <div class="text-el">
                                Unit 2: Instruction set for PIC18FXXX
                            </div>
                        </div>
                    </div>

                     <div class="col-lg-4 col-md-6 col-offset-2">
                        <div class="box-1">
                            <div class="text-el">
                                Unit 3: PIC Microcontrollers I/O Pins
                            </div>
                        </div>
                    </div>

                     <div class="col-lg-4 col-md-6 col-offset-2">
                        <div class="box-1">
                            <div class="text-el">
                                Unit 4: PIC Diagram in C
                            </div>
                        </div>
                    </div>

                     <div class="col-lg-4 col-md-6 col-offset-2">
                        <div class="box-1">
                            <div class="text-el">
                                Unit 5: PIC18 Serial Port Programming

                            </div>
                        </div>
                    </div>

                     <div class="col-lg-4 col-md-6 col-offset-2">
                        <div class="box-1">
                            <div class="text-el">
                                Unit 6: Interrupt Programming

                            </div>
                        </div>
                    </div>

                     <div class="col-lg-4 col-md-6 col-offset-2">
                        <div class="box-1">
                            <div class="text-el">
                                Unit 7: Interfacing LCD Using PIC18

                            </div>
                        </div>
                    </div>



                </div>
                <h5>MODULE: EMBEDDED LINUX</h5>
                <div class="row">
                <div class="col-lg-4 col-md-6 col-offset-2">
                    <div class="box-1">
                        <div class="text-el">
                            Unit 1: Module Embedded Linux
                        </div>
                    </div>
                </div>
</div>
                <h5>MODULE: EMBEDDED OS</h5>
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-offset-2">
                        <div class="box-1">
                            <div class="text-el">
                                Unit 1: Basics of Operating systems
                            </div>
                        </div>
                    </div>

                     <div class="col-lg-4 col-md-6 col-offset-2">
                        <div class="box-1">
                            <div class="text-el">
                                Unit 2: Embedded C
                            </div>
                        </div>
                    </div>

                     <div class="col-lg-4 col-md-6 col-offset-2">
                        <div class="box-1">
                            <div class="text-el">
                                Unit 3: Introduction To ARM
                            </div>
                        </div>
                    </div>

                     <div class="col-lg-4 col-md-6 col-offset-2">
                        <div class="box-1">
                            <div class="text-el">
                                Unit 4: Types of ARM
                            </div>
                        </div>
                    </div>
                </div>


            </div>
        </div>
    </div>
    {{>footer}}
</body>
</html>