<!DOCTYPE html>
<html lang="en">
<head>
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
    crossorigin="anonymous">
    <link rel="stylesheet" href="/css/courses/software_testing.css">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <!-- <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css"> -->
    <link rel="stylesheet" href="/css/style.css" >
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NIKS TECHNOLOGY COURSES - SOFTWARE TESTING</title>
</head>
<body>
    {{>header}}
    <div class="container-fluid">
        <div class="wrapper">
            <div class="content">
                <h3>SOFTWARE TESTING</h3>
                <h4>Introduction</h4>
                <p>Software testing is a set of processes aimed at investigating, evaluating and ascertaining 
                    the completeness and quality of computer software. Software testing ensures the compliance 
                    of a software product in relation with regulatory, business, technical, functional and user 
                    requirements. Software testing is also known as application testing.</p>
                <p>Software testing is primarily a broad process that is composed of several interlinked 
                    processes. The primary objective of software testing is to measure software health along 
                    with its completeness in terms of core requirements. Software testing involves examining 
                    and checking software through different testing processes. The objectives of these processes 
                    can include:</p>
                <div class="text">
                    * Verifying software completeness in regards to functional/business requirements<br/>
                     * Identifying technical bugs/errors and ensuring the software is error-free<br/>
                    * Assessing usability, performance, security, localization, compatibility and installation<br/><br/>
                </div>
                <p>The tested software must pass each of the tests in-order to be considered complete or fit 
                    for use. Some of the different types of software testing methods include white box testing, 
                    black box testing and grey box testing. Moreover, the software can be tested as a whole, in 
                    components/units or within a live system.</p>

                <div class="row">
                    <div class="col-md-6 col-offset-2">
                        <div class="box-1">
                            <h5>COURSE CONTENT LEVEL I</h5>
                            <div class="text-el">
                                Unit 1: Introduction to software testing and test process<br/>
                                Unit 2: Black Box Testing<br/>
                                Unit 3: Regression Testing<br/>
                                Unit 5: Alpha Testing<br/>
                                Unit 6: Beta Testing<br/>
                                Unit 8: Unit Testing
                            </div>
                        </div>
                    </div>

                    <div class="col-md-6 col-offset-2">
                        <div class="box-1">
                            <h5>COURSE CONTENT LEVEL II</h5>
                            <div class="text-el">
                                Unit 1: Smoke Testing<br/>
                                Unit 2: Stress Testing<br/>
                                Unit 3: Automated Testing<br/>
                                Unit 4: System Integration Testing (SIT)<br/>
                                Unit 5: Performance Testing<br/>
                                Unit 6: Functional Testing<br/>
                                Unit 7: IEEE 829 is a standard
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
    {{>footer}}
</body>
</html>