<!DOCTYPE html>
<html lang="en">
<head>
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
    crossorigin="anonymous">
    <link rel="stylesheet" href="/css/courses/software_dev.css">
     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>
    <!-- <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css"> -->
    <link rel="stylesheet" href="/css/style.css" >
     <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NIKS TECHNOLOGY COURSES - SOFTWARE DEVELOPMENT</title>
</head>
<body>
    {{>nav}}
    <div class="container-fluid">
        <div class="wrapper">
            <div class="content">
                <h3>Software Development</h3>
                <h4>Introduction</h4>
                <p>This internship program combines training and hands-on experience through job assignments;
                     involving in-depth analysis of software development methodologies statements; understanding
                      the project design and development; interacting with the clients; understanding the
                       software development phase, and writing a detailed project report. Objective is to 
                       provide interns with exposure to the software industry, enabling them to make the 
                       right choice with the available career options. An opportunity to interact with highly 
                       experienced software professionals. This is an exciting opportunity to you all who want 
                       to be a part of its ever-growing family. This program starts with JAVA / .NET technology 
                       training followed by work on on-going projects in JAVA, .NET and web technology.
                </p>
                <div class="row">
                    <div class="col-md-6 col-offset-2">
                        <div class="box-1">
                            <h5>COURSE CONTENT LEVEL I</h5>
                            <div class="text-el">
                                    * Unit 1: Overview Of Software Development<br/>
                                    * Unit 2: Baisc Software Development Life Cycle<br/>
                                    * Unit 3: Analysis<br/>
                                    * Unit 4: Desing<br/>
                                    * Unit 5: Coding(Java/Vb.net)<br/>
                                    * Unit 6: Testing<br/>
                                    * Unit 7: Maintenance<br/>
                                    * Unit 8: Updation
                        </div>
                        </div>
                    </div>

                     <div class="col-md-6 col-offset-2">
                        <div class="box-1">
                            <h5>COURSE CONTENT LEVEL II</h5>
                            <div class="text-el">
                                * Unit 1: Overview of Data Structure<br/>
                                * Unit 2: Sorting<br/>
                                * Unit 3: Searching<br/>
                                * Unit 4: Merging<br/>
                                * Unit 5: Linked List<br/>
                                * Unit 6: Stack ,Queue<br/>
                                * Unit 7: Tree<br/>
                                * Unit 8: Graphs<br/>
                                * Unit 9: Algorithms
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    {{>footer}}
</body>
</html>