<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
    crossorigin="anonymous">
    <link rel="stylesheet" href="/css/courses/web_dev.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>NIKS TECHNOLOGY COURSES - WEB DEVELOPMENT</title>
</head>
<body>
    <div class="container-fluid">
        <div class="wrapper">
            <div class="content">
                <h3>Website Development</h3>
                <h4>What Is HTML?</h4>
                <p>Before we get into anything else let ' s first go over what HTML is. HTML stands for Hyper
                     Text Markup Language. This is the basic format for the scripting language that is used 
                     to construct the Web. They are now working on a revised version called HTML5 which focuses 
                     on the needs of application developers along with resolving issues found in the previous 
                     versions of HTML.</p>
                <h4>What Are Cascading Style Sheets VER.3(CSS3)?</h4>
                <p>CSS stands for Cascading Style Sheets. It is a style sheet language used to describe the
                     design elements of the websites such as the layout, color, font size, etc. It can allow 
                     multiple pages to share the same formatting. This is what it would look if you wanted to 
                     define the height, width and background color of a specific div tag. Niks Technology is 
                     the best Web development company in Patna providing web development services. We offer 
                     high quality web development at reasonable prices in committed time. Web development is 
                     a broad term for the work involved in developing a web site. This can include Web 
                     Designing, web content development, client liaison, client-side/server-side scripting, 
                     web server and network security configuration, and e-commerce development.</p>

                <div class="row">
                    <div class="col-md-6 col-offset-2">
                    <h5>COURSE CONTENT LEVEL I</h5>
                    <div class="text-el">
                        * Unit 1: Overview Of Web Development<br/>
                        * Unit 2: HTML Overview<br/>
                        * Unit 3: HTML Basic Tags<br/>
                        * Unit 4: HTML 5.0<br/>
                        * Unit 5: HTML Table<br/>
                        * Unit 6: HTML List<br/>
                        * Unit 7: HTML Events<br/>
                        * Unit 8: HTML Fonts<br/>
                        * Unit 9: HTML URL encoding<br/>
                        * Unit 10: CSS Overview<br/>
                        * Unit 11: CSS3<br/>
                        * Unit 12: Javascript
                        </div>
                    </div>
                    <div class="col-md-6 col-offset-2">
                        <h5>COURSE CONTENT LEVEL II</h5>
                        <div class="text-el">
                            * Unit 1: Ajax<br/>
                            * Unit 2: Introduction PHP<br/>
                            * Unit 3: PHP elements<br/>
                            * Unit 4: PHP with database<br/>
                            * Unit 5: PHP dynamic page<br/>
                            * Unit 6: LIVE PROJECT
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>